<!doctype html>
<html lang="nl" class="styleguide">
<head>
    <meta charset="utf-8">

    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">

    <title>Web Standards</title>

    <!-- Remove the next line for non responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Styles -->
    {#
    // <link href="assets/lib/vendor/pickadate/lib/compressed/themes/classic.css" rel="stylesheet" type="text/css" media="all">
    // <link href="assets/lib/vendor/pickadate/lib/compressed/themes/classic.date.css" rel="stylesheet" type="text/css" media="all">
    // <link href="assets/lib/vendor/pickadate/lib/compressed/themes/classic.time.css" rel="stylesheet" type="text/css" media="all">
    #}
    <link href="assets/default/styles/main.css" rel="stylesheet" type="text/css" media="all">

    <!-- Modernizr -->
    <script src="assets/default/scripts/Components/modernizr-custom.js"></script>
</head>
<body>

{# Include this when using SVG icon sprites #}
{#
    <div style="display: none;">
    {{ fileGetContents('assets/default/images/svg.svg')|raw }}
    </div>
#}

{# MAIN CONTENT #}
{{ include(template_from_string(content)) }}


<script>
    // Form translations
    var formvalidator_translations = {
        required:              "Dit veld is verplicht in te vullen",
        requiredSelect:        "Selecteer een optie",
        requiredCheckbox:      "Dit veld is verplicht in te vullen",
        requiredCheckboxgroup: "Selecteer minstens &eacute;&eacute;n optie",
        requiredRadiogroup:    "Selecteer een optie",
        minlength:             "Dit veld moet minimaal %1$s karakters bevatten",
        maxlength:             "Dit veld mag maximaal %1$s karakters bevatten",
        email:                 "Dit is geen geldig e-mailadres",
        tel:                   "Dit is geen geldig telefoonnummer (bv.: +3232987651)",
        min:                   "Het getal moet %1 of groter zijn",
        max:                   "Het getal moet %1 of kleiner zijn"
    };
</script>
<script src="./assets/default/scripts/main.js"></script>
{#
<!-- Our own Scripts -->
// <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.3/clipboard.min.js"></script>
// <script data-main="Application/Main" src="assets/lib/vendor/requirejs/require.js"></script>
#}

</body>
</html>
