<fieldset class="filter__fieldset">
    <legend class="filter__legend">Filteren op categorie</legend>

    <div class="filter__entry">
        <input type="radio" name="radiogroup" id="fltr_radio-1" class="filter__field filter__field--radio">
        <label class="filter__label filter__label--radio" for="fltr_radio-1">Filter radio</label>
    </div>
    <div class="filter__entry">
        <input type="radio" name="radiogroup" id="fltr_radio-2" class="filter__field filter__field--radio">
        <label class="filter__label filter__label--radio" for="fltr_radio-2">Filter radio</label>
    </div>
    <div class="filter__entry">
        <input type="radio" name="radiogroup" id="fltr_radio-3" class="filter__field filter__field--radio">
        <label class="filter__label filter__label--radio" for="fltr_radio-3">Filter radio</label>
    </div>
    <div class="filter__entry">
        <input type="radio" name="radiogroup" id="fltr_radio-4" class="filter__field filter__field--radio">
        <label class="filter__label filter__label--radio" for="fltr_radio-4">Filter radio</label>
    </div>
</fieldset>