<div class="filter__entry">
    <input type="text" name="filter_field" id="fltr_filter_field" placeholder="Filter date field" required class="filter__field filter__field--date"  data-component="inputDate" />
</div>