<form action="#" class="filter">

    <div class="filter__search">
        <div class="filter__search">

            <div class="filter__entry">
                <input type="search" name="filtersearch" id="fltr_filtersearch" placeholder="Zoekterm" required class="filter__field filter__field--search" />
            </div>

            <div class="filter__entry">
                <input type="search" name="filtersearch-location" id="fltr_filtersearch-location" placeholder="Locatie" required class="filter__field filter__field--text" />
                <i class="icon icon--pin filtersearch__icon"></i>
            </div>

            <div class="filter__tags">
                <a href="#" class="filter__tag">Filter tag</a>
                <a href="#" class="filter__tag">Filter tag</a>
                <a href="#" class="filter__tag">Filter tag</a>
                <a href="#" class="filter__tag">Filter tag</a>
                <a href="#" class="filter__tag">Filter tag</a>
            </div>

            <button class="button button--full-width" type="submit">Zoek</button>

        </div>
    </div>

    <div class="filter__main-title">Filters</div>

    <div class="filter__body">

        <div class="filter__pannel" data-component="Application/Components/FilterPannel">

            <div class="filter__pannel-title filter__pannel-title--tagged">Filter pannel title</div>
            <div class="filter__pannel-content">
                <div class="filter__pannel-inner">

                    <fieldset class="filter__fieldset">

                        <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-1" class="filter__field filter__field--checkbox" checked><label for="fltr_pannel-example-1" class="filter__label filter__label--checkbox">Filter checkbox 1</label></div>
                        <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-2" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-2" class="filter__label filter__label--checkbox">Filter checkbox 2</label></div>
                        <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-3" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-3" class="filter__label filter__label--checkbox">Filter checkbox 3</label></div>
                        <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-4" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-4" class="filter__label filter__label--checkbox">Filter checkbox 4</label></div>
                        <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-5" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-5" class="filter__label filter__label--checkbox">Filter checkbox 5</label></div>
                        <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-6" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-6" class="filter__label filter__label--checkbox">Filter checkbox 6</label></div>
                        <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-7" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-7" class="filter__label filter__label--checkbox">Filter checkbox 7</label></div>
                        <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-8" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-8" class="filter__label filter__label--checkbox">Filter checkbox 8</label></div>
                        <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-9" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-9" class="filter__label filter__label--checkbox">Filter checkbox 9</label></div>
                        <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-10" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-10" class="filter__label filter__label--checkbox">Filter checkbox 10</label></div>
                        <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-11" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-11" class="filter__label filter__label--checkbox">Filter checkbox 11</label></div>
                        <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-12" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-12" class="filter__label filter__label--checkbox">Filter checkbox 12</label></div>
                        <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-13" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-13" class="filter__label filter__label--checkbox">Filter checkbox 13</label></div>
                        <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-14" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-14" class="filter__label filter__label--checkbox">Filter checkbox 14</label></div>
                        <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-15" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-15" class="filter__label filter__label--checkbox">Filter checkbox 15</label></div>

                        <div class="filter__has-more" data-component="Application/Components/FilterHasMore">
                            <div class="filter__has-more__items">
                                <div class="filter__has-more__inner">
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-16" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-16" class="filter__label filter__label--checkbox">Filter checkbox 16</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-17" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-17" class="filter__label filter__label--checkbox">Filter checkbox 17</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-18" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-18" class="filter__label filter__label--checkbox">Filter checkbox 18</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-19" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-19" class="filter__label filter__label--checkbox">Filter checkbox 19</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-20" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-20" class="filter__label filter__label--checkbox">Filter checkbox 20 with a very unusually long label, but like extremely long, like.. really really really long label</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-21" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-21" class="filter__label filter__label--checkbox">Filter checkbox 21 also with a very unusually long label, but like extremely long, like.. really really really long label</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-22" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-22" class="filter__label filter__label--checkbox">Filter checkbox 22</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-23" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-23" class="filter__label filter__label--checkbox">Filter checkbox 23</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-24" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-24" class="filter__label filter__label--checkbox">Filter checkbox 24</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-25" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-25" class="filter__label filter__label--checkbox">Filter checkbox 25</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-26" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-26" class="filter__label filter__label--checkbox">Filter checkbox 26</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-27" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-27" class="filter__label filter__label--checkbox">Filter checkbox 27</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-28" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-28" class="filter__label filter__label--checkbox">Filter checkbox 28</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-29" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-29" class="filter__label filter__label--checkbox">Filter checkbox 29</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-30" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-30" class="filter__label filter__label--checkbox">Filter checkbox 30</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-31" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-31" class="filter__label filter__label--checkbox">Filter checkbox 31</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-32" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-32" class="filter__label filter__label--checkbox">Filter checkbox 32</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-33" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-33" class="filter__label filter__label--checkbox">Filter checkbox 33</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-34" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-34" class="filter__label filter__label--checkbox">Filter checkbox 34</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-35" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-35" class="filter__label filter__label--checkbox">Filter checkbox 35</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-36" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-36" class="filter__label filter__label--checkbox">Filter checkbox 36</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-37" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-37" class="filter__label filter__label--checkbox">Filter checkbox 37</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-38" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-38" class="filter__label filter__label--checkbox">Filter checkbox 38</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-39" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-39" class="filter__label filter__label--checkbox">Filter checkbox 39</label></div>
                                    <div class="filter__entry"><input type="checkbox" name="checkboxgroup" id="fltr_pannel-example-40" class="filter__field filter__field--checkbox"><label for="fltr_pannel-example-40" class="filter__label filter__label--checkbox">Filter checkbox 40</label></div>
                                </div>
                            </div>
                            <a href="#" class="filter__has-more__trigger">
                                <span class="filter__has-more__toggle filter__has-more__toggle--more">Meer</span>
                                <span class="filter__has-more__toggle filter__has-more__toggle--less">Minder</span>
                                <span class="filter__has-more__icon"></span>
                            </a>
                        </div>

                    </fieldset>

                    <a href="#" class="button button--full-width filter__pannel-button">Toon x-aantal resultaten</a>
                </div>
            </div>

        </div>

        <div class="filter__pannel" data-component="Application/Components/FilterPannel">

            <div class="filter__pannel-title">Filter pannel title</div>
            <div class="filter__pannel-content">
                <div class="filter__pannel-inner">

                    <fieldset class="filter__fieldset">

                        <div class="filter__entry">Fltr_pannel-example-1</div>
                        <div class="filter__entry">Fltr_pannel-example-2</div>
                        <div class="filter__entry">Fltr_pannel-example-3</div>
                        <div class="filter__entry">Fltr_pannel-example-4</div>
                        <div class="filter__entry">Fltr_pannel-example-5</div>
                        <div class="filter__entry">Fltr_pannel-example-6</div>
                        <div class="filter__entry">Fltr_pannel-example-7</div>
                        <div class="filter__entry">Fltr_pannel-example-8</div>
                        <div class="filter__entry">Fltr_pannel-example-9</div>
                        <div class="filter__entry">Fltr_pannel-example-10</div>

                        <div class="filter__has-more" data-component="Application/Components/FilterHasMore">
                            <div class="filter__has-more__items">
                                <div class="filter__has-more__inner">
                                    <div class="filter__entry">Fltr_pannel-example-11</div>
                                    <div class="filter__entry">Fltr_pannel-example-12</div>
                                    <div class="filter__entry">Fltr_pannel-example-13</div>
                                    <div class="filter__entry">Fltr_pannel-example-14</div>
                                    <div class="filter__entry">Fltr_pannel-example-15</div>
                                </div>
                            </div>
                            <a href="#" class="filter__has-more__trigger">
                                <span class="filter__has-more__toggle filter__has-more__toggle--more">Meer</span>
                                <span class="filter__has-more__toggle filter__has-more__toggle--less">Minder</span>
                                <span class="filter__has-more__icon"></span>
                            </a>
                        </div>

                    </fieldset>

                    <a href="#" class="button button--full-width filter__pannel-button">Toon x-aantal resultaten</a>
                </div>
            </div>

        </div>

        <div class="filter__pannel" data-component="Application/Components/FilterPannel">

            <div class="filter__pannel-title">Filter pannel title</div>
            <div class="filter__pannel-content">
                <div class="filter__pannel-inner">

                    <fieldset class="filter__fieldset">

                        <div class="filter__entry">Fltr_pannel-example-1</div>
                        <div class="filter__entry">Fltr_pannel-example-2</div>
                        <div class="filter__entry">Fltr_pannel-example-3</div>
                        <div class="filter__entry">Fltr_pannel-example-4</div>
                        <div class="filter__entry">Fltr_pannel-example-5</div>
                        <div class="filter__entry">Fltr_pannel-example-6</div>
                        <div class="filter__entry">Fltr_pannel-example-7</div>
                        <div class="filter__entry">Fltr_pannel-example-8</div>
                        <div class="filter__entry">Fltr_pannel-example-9</div>
                        <div class="filter__entry">Fltr_pannel-example-10</div>

                        <div class="filter__has-more" data-component="Application/Components/FilterHasMore">
                            <div class="filter__has-more__items">
                                <div class="filter__has-more__inner">
                                    <div class="filter__entry">Fltr_pannel-example-11</div>
                                    <div class="filter__entry">Fltr_pannel-example-12</div>
                                    <div class="filter__entry">Fltr_pannel-example-13</div>
                                    <div class="filter__entry">Fltr_pannel-example-14</div>
                                    <div class="filter__entry">Fltr_pannel-example-15</div>
                                </div>
                            </div>
                            <a href="#" class="filter__has-more__trigger">
                                <span class="filter__has-more__toggle filter__has-more__toggle--more">Meer</span>
                                <span class="filter__has-more__toggle filter__has-more__toggle--less">Minder</span>
                                <span class="filter__has-more__icon"></span>
                            </a>
                        </div>

                    </fieldset>

                    <a href="#" class="button button--full-width filter__pannel-button">Toon x-aantal resultaten</a>
                </div>
            </div>

        </div>

        <div class="filter__pannel" data-component="Application/Components/FilterPannel">

            <div class="filter__pannel-title">Filter pannel title</div>
            <div class="filter__pannel-content">
                <div class="filter__pannel-inner">

                    <fieldset class="filter__fieldset">

                        <div class="filter__entry">Fltr_pannel-example-1</div>
                        <div class="filter__entry">Fltr_pannel-example-2</div>
                        <div class="filter__entry">Fltr_pannel-example-3</div>
                        <div class="filter__entry">Fltr_pannel-example-4</div>
                        <div class="filter__entry">Fltr_pannel-example-5</div>
                        <div class="filter__entry">Fltr_pannel-example-6</div>
                        <div class="filter__entry">Fltr_pannel-example-7</div>
                        <div class="filter__entry">Fltr_pannel-example-8</div>
                        <div class="filter__entry">Fltr_pannel-example-9</div>
                        <div class="filter__entry">Fltr_pannel-example-10</div>

                        <div class="filter__has-more" data-component="Application/Components/FilterHasMore">
                            <div class="filter__has-more__items">
                                <div class="filter__has-more__inner">
                                    <div class="filter__entry">Fltr_pannel-example-11</div>
                                    <div class="filter__entry">Fltr_pannel-example-12</div>
                                    <div class="filter__entry">Fltr_pannel-example-13</div>
                                    <div class="filter__entry">Fltr_pannel-example-14</div>
                                    <div class="filter__entry">Fltr_pannel-example-15</div>
                                </div>
                            </div>
                            <a href="#" class="filter__has-more__trigger">
                                <span class="filter__has-more__toggle filter__has-more__toggle--more">Meer</span>
                                <span class="filter__has-more__toggle filter__has-more__toggle--less">Minder</span>
                                <span class="filter__has-more__icon"></span>
                            </a>
                        </div>

                    </fieldset>

                    <a href="#" class="button button--full-width filter__pannel-button">Toon x-aantal resultaten</a>
                </div>
            </div>

        </div>

        <div class="filter__pannel" data-component="Application/Components/FilterPannel">

            <div class="filter__pannel-title">Filter pannel title</div>
            <div class="filter__pannel-content">
                <div class="filter__pannel-inner">

                    <fieldset class="filter__fieldset">

                        <div class="filter__entry">Fltr_pannel-example-1</div>
                        <div class="filter__entry">Fltr_pannel-example-2</div>
                        <div class="filter__entry">Fltr_pannel-example-3</div>
                        <div class="filter__entry">Fltr_pannel-example-4</div>
                        <div class="filter__entry">Fltr_pannel-example-5</div>
                        <div class="filter__entry">Fltr_pannel-example-6</div>
                        <div class="filter__entry">Fltr_pannel-example-7</div>
                        <div class="filter__entry">Fltr_pannel-example-8</div>
                        <div class="filter__entry">Fltr_pannel-example-9</div>
                        <div class="filter__entry">Fltr_pannel-example-10</div>

                        <div class="filter__has-more" data-component="Application/Components/FilterHasMore">
                            <div class="filter__has-more__items">
                                <div class="filter__has-more__inner">
                                    <div class="filter__entry">Fltr_pannel-example-11</div>
                                    <div class="filter__entry">Fltr_pannel-example-12</div>
                                    <div class="filter__entry">Fltr_pannel-example-13</div>
                                    <div class="filter__entry">Fltr_pannel-example-14</div>
                                    <div class="filter__entry">Fltr_pannel-example-15</div>
                                </div>
                            </div>
                            <a href="#" class="filter__has-more__trigger">
                                <span class="filter__has-more__toggle filter__has-more__toggle--more">Meer</span>
                                <span class="filter__has-more__toggle filter__has-more__toggle--less">Minder</span>
                                <span class="filter__has-more__icon"></span>
                            </a>
                        </div>

                    </fieldset>

                    <a href="#" class="button button--full-width filter__pannel-button">Toon x-aantal resultaten</a>
                </div>
            </div>

        </div>

        <div class="filter__pannel" data-component="Application/Components/FilterPannel">

            <div class="filter__pannel-title">Filter pannel title</div>
            <div class="filter__pannel-content">
                <div class="filter__pannel-inner">

                    <fieldset class="filter__fieldset">

                        <div class="filter__entry">Fltr_pannel-example-1</div>
                        <div class="filter__entry">Fltr_pannel-example-2</div>
                        <div class="filter__entry">Fltr_pannel-example-3</div>
                        <div class="filter__entry">Fltr_pannel-example-4</div>
                        <div class="filter__entry">Fltr_pannel-example-5</div>
                        <div class="filter__entry">Fltr_pannel-example-6</div>
                        <div class="filter__entry">Fltr_pannel-example-7</div>
                        <div class="filter__entry">Fltr_pannel-example-8</div>
                        <div class="filter__entry">Fltr_pannel-example-9</div>
                        <div class="filter__entry">Fltr_pannel-example-10</div>

                        <div class="filter__has-more" data-component="Application/Components/FilterHasMore">
                            <div class="filter__has-more__items">
                                <div class="filter__has-more__inner">
                                    <div class="filter__entry">Fltr_pannel-example-11</div>
                                    <div class="filter__entry">Fltr_pannel-example-12</div>
                                    <div class="filter__entry">Fltr_pannel-example-13</div>
                                    <div class="filter__entry">Fltr_pannel-example-14</div>
                                    <div class="filter__entry">Fltr_pannel-example-15</div>
                                </div>
                            </div>
                            <a href="#" class="filter__has-more__trigger">
                                <span class="filter__has-more__toggle filter__has-more__toggle--more">Meer</span>
                                <span class="filter__has-more__toggle filter__has-more__toggle--less">Minder</span>
                                <span class="filter__has-more__icon"></span>
                            </a>
                        </div>

                    </fieldset>

                    <a href="#" class="button button--full-width filter__pannel-button">Toon x-aantal resultaten</a>
                </div>
            </div>

        </div>

        <div class="filter__pannel" data-component="Application/Components/FilterPannel">

            <div class="filter__pannel-title">Filter pannel title</div>
            <div class="filter__pannel-content">
                <div class="filter__pannel-inner">

                    <fieldset class="filter__fieldset">

                        <div class="filter__entry">Fltr_pannel-example-1</div>
                        <div class="filter__entry">Fltr_pannel-example-2</div>
                        <div class="filter__entry">Fltr_pannel-example-3</div>
                        <div class="filter__entry">Fltr_pannel-example-4</div>
                        <div class="filter__entry">Fltr_pannel-example-5</div>
                        <div class="filter__entry">Fltr_pannel-example-6</div>
                        <div class="filter__entry">Fltr_pannel-example-7</div>
                        <div class="filter__entry">Fltr_pannel-example-8</div>
                        <div class="filter__entry">Fltr_pannel-example-9</div>
                        <div class="filter__entry">Fltr_pannel-example-10</div>

                        <div class="filter__has-more" data-component="Application/Components/FilterHasMore">
                            <div class="filter__has-more__items">
                                <div class="filter__has-more__inner">
                                    <div class="filter__entry">Fltr_pannel-example-11</div>
                                    <div class="filter__entry">Fltr_pannel-example-12</div>
                                    <div class="filter__entry">Fltr_pannel-example-13</div>
                                    <div class="filter__entry">Fltr_pannel-example-14</div>
                                    <div class="filter__entry">Fltr_pannel-example-15</div>
                                </div>
                            </div>
                            <a href="#" class="filter__has-more__trigger">
                                <span class="filter__has-more__toggle filter__has-more__toggle--more">Meer</span>
                                <span class="filter__has-more__toggle filter__has-more__toggle--less">Minder</span>
                                <span class="filter__has-more__icon"></span>
                            </a>
                        </div>

                    </fieldset>

                    <a href="#" class="button button--full-width filter__pannel-button">Toon x-aantal resultaten</a>
                </div>
            </div>

        </div>

    </div>

</form>




<!--
.filter
    .filter__search
        input
        .filter__tag: clickable
        button-> Search

    .filter__pannel
        .filter__pannel-title: clickable + visual if inner content is checked
        .filter__pannel-content
            radiogroup/checkboxgroup: clickable + disable state
            meta-content-> n amount
            [MOBILE]
            button-> Show n results


-->