<div class="filter__search">

    <div class="filter__entry">
        <input type="search" name="filtersearch" id="fltr_filtersearch" placeholder="Zoekterm" required class="filter__field filter__field--search" />
    </div>

    <div class="filter__entry">
        <input type="search" name="filtersearch-location" id="fltr_filtersearch-location" placeholder="Locatie" required class="filter__field filter__field--text" />
        <i class="icon icon--pin filtersearch__icon"></i>
    </div>

    <div class="filter__tags">
        <a href="#" class="filter__tag">Filter tag</a>
        <a href="#" class="filter__tag">Filter tag</a>
        <a href="#" class="filter__tag">Filter tag</a>
        <a href="#" class="filter__tag">Filter tag</a>
        <a href="#" class="filter__tag">Filter tag</a>
    </div>

    <button class="button button--full-width" type="submit">Zoek</button>

</div>