<fieldset class="filter__fieldset">
    <legend class="filter__legend">Filteren op categorie</legend>

    <div class="filter__entry">
        <input type="checkbox" name="checkboxgroup" id="fltr_checkbox-1" class="filter__field filter__field--checkbox">
        <label class="filter__label filter__label--checkbox" for="fltr_checkbox-1">Filter checkbox</label>
    </div>
    <div class="filter__entry">
        <input type="checkbox" name="checkboxgroup" id="fltr_checkbox-2" class="filter__field filter__field--checkbox">
        <label class="filter__label filter__label--checkbox" for="fltr_checkbox-2">Filter checkbox</label>
    </div>
    <div class="filter__entry">
        <input type="checkbox" name="checkboxgroup" id="fltr_checkbox-3" class="filter__field filter__field--checkbox">
        <label class="filter__label filter__label--checkbox" for="fltr_checkbox-3">Filter checkbox</label>
    </div>
    <div class="filter__entry">
        <input type="checkbox" name="checkboxgroup" id="fltr_checkbox-4" class="filter__field filter__field--checkbox">
        <label class="filter__label filter__label--checkbox" for="fltr_checkbox-4">Filter checkbox</label>
    </div>
</fieldset>