<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col -large-8 -large-offset-2">
                <h1 class="title-1">Disclaimer</h1>
                <h2 class="title-2">Toepassing</h2>
                <p>Door deze website te raadplegen en op eender welke manier ermee te interageren, verklaart u zich automatisch akkoord met onderstaande voorwaarden en verbindt u zich ertoe deze na te leven.</p>
                <br>

                <h2 class="title-2">Contactgegevens</h2>
                <p>
                    <strong>
                        Inventis bvba<br>
                        Weg naar Zwartberg 85 bus 3<br>
                        3530 Houthalen, Limburg<br>
                        Belgi&euml;<br>
                        (t) <a href="tel:003289501640">089 - 50 16 40</a><br>
                        (e)&nbsp;<a href="mailto:info@inventis.be">info@inventis.be</a>
                    </strong>
                    </p>
                <br>

                    <h2 class="title-2">Intellectuele eigendommen</h2>
                <p>De op deze website geleverde diensten en verstrekte informatie zijn beschermd door diverse intellectuele eigendomsrechten. Wij zijn de eigenaar van het concept, de structuur, de lay-out en het design van deze website. De gehele of gedeeltelijke reproductie, verspreiding, verkoop, publicatie, aanpassing, vertaling, bewerking of gebruik voor commerci&euml;le doeleinden op eender welke wijze is uitdrukkelijk verboden.&nbsp;Door op deze website te surfen krijgt u hier geen enkel recht op. Uitzonderingen hierop worden enkel verleend op basis van onze voorafgaande schriftelijke toestemming.</p>
                <br>

                <h2 class="title-2">Intellectuele eigendommen van anderen</h2>
                <p>Wij gebruiken YouTube, Flickr, Last.fm, Vimeo, ... als bronnen voor inhoud. Gezien de overeenkomsten van al deze diensten bepalen dat hun inhoud geen intellectuele eigendommen mag schenden, gaan wij er vanuit dat dit ook het geval is. Indien wij, onbewust, uw intellectuele eigendommen schenden, gelieve zo snel mogelijk contact op te nemen, zodat het zo snel mogelijk verwijderd kan worden of eventueel voorzien van een juiste bronvermelding.</p>
                <br>

                <h2 class="title-2">Beperking van aansprakelijkheid</h2>
                <p>Wij streven ernaar dat de informatie op onze website volledig en betrouwbaar is. Wij kunnen echter niet aansprakelijk gesteld worden voor onjuiste informatie op deze website, contact opnemen ter correctie ervan is wel altijd mogelijk.</p>
                <p>Wij kunnen niet aansprakelijk gesteld worden voor het slecht functioneren van deze website en eventuele rechtstreekse  of onrechtstreekse schade die u erdoor kan oplopen. Wij behouden het recht om in bepaalde gevallen van overmacht de toegang tot de website te beperken of te blokkeren.</p>
                <p>Het plaatsen van een link naar een andere website impliceert niet dat wij de inhoud ervan goedkeuren.</p>
                <p>Bij het verzenden van uw persoonlijke gegevens zetten wij alle beschikbare mogelijkheden in om dat veilig te laten gebeuren, maar het gebeurt steeds op eigen risico.</p>
                <br>

                <h2 class="title-2">Toepasselijk recht en bevoegde rechtbanken</h2>
                <p>Enkel het Belgische recht is van toepassing (dit dient aangepast te worden indien website in het buitenland gebruikt wordt).</p>
                <p>Ieder geschil dat zou voortvloeien uit het raadplegen van deze website valt onder de exclusieve bevoegdheid van het Gerechtelijk Arrondissement van XXXXX.</p>
                <br>

                <h2 class="title-2">Toegang</h2>
                <p>Deze website is toegankelijk voor recente computers waarop courante software ge&iuml;nstalleerd staat. De organisatie waarborgt echter geen compatibiliteit en kan geenszins aansprakelijk gesteld worden voor het niet kunnen bereiken van de website.</p>
                <p>Het is verboden om toegang te forceren tot delen van deze website die niet publiekelijk zichtbaar zijn. Het is eveneens verboden de website aan te passen, zaken toe te voegen of te verwijderen, op  welke manier dan ook.</p>
                <br>

                <h2 class="title-2">E-commerce</h2>
                <h3 class="title-3">Prijzen</h3>
                <p>De op de website aangegeven verkoopprijzen zijn inclusief alle belastingen, maar exclusief verzendkosten. De BTW bedraagt 21%.</p>
                <h3 class="title-3">Afzetgebied &amp; Bezorgkosten</h3>
                <p>De op de site gekochte producten worden geleverd in Europa. De verzendkosten per land zijn:</p>
                <p>
                    XXXXXXX: 5 ,00euro<br>
                    XXXXXXX: 7,81 euro<br>
                    XXXXXXX: 8,30 euro<br>
                    XXXXXXX: 4,20 euro<br>
                    XXXXXXX: 5,35 euro<br>
                    XXXXXXX:7,21 euro<br>
                    XXXXXXX: 6,81 euro<br>
                    XXXXXXX : 3,98 euro
                    </p>
                <h3 class="title-3">Levering &amp; Levertijd</h3>
                <p>Wij doen er alles aan om de op deze website vermelde levertijden te respecteren. Wij kunnen echter niet verantwoordelijk gesteld worden voor een levering die te laat aankomt of een levering die verloren gaat door overmacht,  onvoorziene omstandigheden of door derden, met name de organisaties die instaan voor de levering. In geval van problemen zullen wij samen met de organisatie die instaat voor de levering op zoek gaan naar een oplossing. Ook kunnen wij niet verantwoordelijk gehouden worden voor vertragingen in het geval van een uitgeputte voorraad.</p>
                <h3 class="title-3">Betaling</h3>
                <p>De betalingen gebeuren via onze betrouwbare partner Ogone, die instaat voor een veilige betaling op de website.</p>
                <h3 class="title-3">Verzakingsrecht</h3>
                <p>In overeenstemming met de Belgische wet van 6 april 2010 (dient link te zijn naar aparte pagina met deze tekst: http://www.movies-games.be/info/verzakingsrecht/) beschikt de consument over een termijn van minstens 14 kalenderdagen waarin hij de overeenkomst kan herroepen, dit zonder betaling van een boete en zonder opgave van motief. Voor goederen gaat die termijn in de dag na de levering aan de consument, als aan alle verplichtingen voldaan wordt. Voor diensten gaat deze termijn in de dag na het afsluiten van de overeenkomst, als aan alle verplichtingen voldaan wordt. Wanneer de onderneming niet aan alle verplichtingen voldaan heeft, is de herroepingstermijn drie maanden. In geval van uitoefening van het herroepingsrecht is de onderneming gehouden tot terugbetaling van de door de consument gestorte bedragen, zonder kosten.</p>
                <h3 class="title-3">Beschikbaarheid</h3>
                <p>Wij behouden het recht de leverdatum uit te stellen indien het product niet meer voorradig is of niet snel leverbaar door producent of andere leveranciers.</p>
                <h3 class="title-3">Garantie</h3>
                <p>De garantie is deze die door de fabrikant wordt verstrekt en onder de hierna gestemde beperkingen. Bij de garantieaanvraag dient een geldig aankoopbewijs voorgelegd te worden. De beslissing of het product onder garantie valt, wordt steeds gemaakt door de fabrikant of leverancier van het product. Het artikel wordt door ons naar de leverancier of producent gestuurd. Deze zal bepalen of de garantie geaccepteerd wordt.</p>
                <p>De garantie wordt beperkt tot vervanging van de gelijkwaardig producten. De garantie vervalt indien de bij het product meegedeelde onderhoudsvoorschriften of handleiding niet werden nageleefd, indien er verkeerd gebruik is geweest van het product of indien de koper zonder uitdrukkelijke toestemming veranderingen liet uitvoeren.</p>
                <br>

                <h2 class="title-2">Community</h2>
                <h3 class="title-3">Algemene regels</h3>
                <p>De materie die u plaatst op de website mag niet in strijd zijn met de openbare orde of de goede zeden, mag niet discrimineren en ook niet op een andere wijze onaanvaardbaar zijn in een democratische samenleving. Ook het plaatsen van illegale materie is strikt verboden (bijv. illegale downloads, pornografische inhoud&hellip;).</p>
                <p>Leden van de community dienen zich respectvol op te stellen naar andere leden, het is dan ook verboden om verbale agressie te uiten.</p>
                <p>Het delen van persoonlijke gegevens, zoals telefoonnummers, is niet verboden maar raden we sterk af. Iedereen kan tenslotte meelezen, ook bezoekers met slechte bedoelingen.</p>
                <h3 class="title-3">Adviezen/meningen van derden</h3>
                <p>De adviezen/meningen die bezoekers plaatsen weerspiegelt niet altijd onze mening, opinie of afvies. Eventuele schade berokkend door een slecht advies kan nooit op de organisatie verhaald worden. Wij behouden ons het recht inhoud te weigeren en dus niet online beschikbaar te maken.</p>
                <h3 class="title-3">Sancties</h3>
                <p>De organisatie behoudt zich het recht de toegang tot de website tijdelijk of permanent te ontzeggen bij het overtreden van regels. Afhankelijk van de mate en zwaarte van de inbreuk(en) kunnen wij er voor kiezen uw account tijdelijk te schorsen of permanent op te heffen.</p>
                <h3 class="title-3">Minderjarigen</h3>
                <p>Kinderen en jongeren onder de 16 jaar zijn verplicht toestemming te vragen aan hun ouders vooraleer zich te registreren met persoonlijke informatie op deze website.</p>
                <br>

                <h2 class="title-2">Wedstrijd</h2>
                <h3 class="title-3">Toepassing</h3>
                <p>Deelname aan deze wedstrijd betekent automatisch de goedkeuring van dit reglement.</p>
                <h3 class="title-3">Wijzigingen tijdens verloop</h3>
                <p>De organisatie behoudt zich het recht de wedstrijd (deels) te wijzigen tijdens het verloop ervan.</p>
                <h3 class="title-3">Minderjarigen</h3>
                <p>Kinderen en jongeren onder de 18 dienen goedkeuring te krijgen van hun ouders om aan deze wedstrijd deel te nemen.</p>
                <h3 class="title-3">Deelnemen</h3>
                <p>De wedstrijd staat open voor Belgische inwoners, met uitzondering van de personeelsleden van &hellip;, de ondernemingen (incl. personeelsleden en medewerkers) die bij de organisatie van de wedstrijd betrokken zijn en alle gezinsleden van deze uitgesloten categorie&euml;n. Indien de deelnemer op het moment van deelname minderjarig is, dient hij/zij over de uitdrukkelijke goedkeuring van zijn ouders en/of voogd te beschikken en die op een verzoek van ons voor te leggen.</p>
                <h3 class="title-3">Prijs</h3>
                <p>De prijs is niet inruilbaar. Er wordt slechts 1 prijs per adres of woonplaats waar de leden van een  gezin of meerdere personen samenwonen uitgereikt.</p>
                <h3 class="title-3">Misbruik of bedrog</h3>
                <p>De organisatie behoudt het recht deelnemers uit te sluiten van de wedstrijd indien misbruik of bedrog kan worden vastgesteld.</p>
                <h3 class="title-3">Delen van gegevens</h3>
                <p>Uw gegevens worden niet gedeeld met derden, al behouden we wel het recht de winnende deelnemers met afbeelding en/of naam weer te geven op de website.</p>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
