<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col -large-8 -large-offset-2">
                <h1 class="title-1">Privacy statement</h1>
                <h2 class="title-2">Privacy</h2>
                <h3 class="title-3">Versie 1 (E-commerce)</h3>
                <p>Wij hechten belang aan uw privacy. Op deze website vragen we persoonlijke gegevens, dit om de diensten te leveren waar u om vraagt en bestellingen te kunnen leveren van de producten die op deze website te koop aangeboden worden. </p>
                <p>Deze gegevens worden niet doorgegeven aan derden, tenzij aan bedrijven waar wij nauw mee samenwerken, indien dit noodzakelijk is voor de verwerking van de bestellingen. Deze derden mogen de persoonsgegevens enkel verwerken in functie van hun strikte taken.</p>
                <p>Als u een bestelling plaatst, bewaren wij zorgvuldig en veilig de volgende gegevens voor u: <strong>naam, voornaam, adresgegevens, telefoonnummers, e-mailadres</strong> in onze database. </p>
                <p>Creditcardgegevens of financi&euml;le gegevens worden niet door ons bewaard, dit gebeurt door Ogone Payment Services, een betrouwbare partner die uw betalingsgegevens uiterst veilig behandelt en bewaart.</p>

                <h3 class="title-3">Versie 2 (Community)</h3>
                <p>Wij hechten belang aan uw privacy. Op deze website vragen we persoonlijke gegevens, dit met de registratie en identificatie binnen de community voor ogen. Om u voor de community te registreren, vragen wij de volgende gegevens van u: <strong>naam, voornaam, (eventueel) bijnaam, e-mailadres en wachtwoord</strong>. Vrijblijvend kunnen daar gegevens als leeftijd, hobby&rsquo;s en andere persoonlijk gegevens bijkomen. </p>
                <p>Derden hebben toegang tot de informatie die u zelf publiek maakt. Wij geven enkel persoonlijke gegevens door aan derden op uitdrukkelijk verzoek van de gerechtelijke autoriteiten en bij wettelijke verplichtingen. Geregistreerden krijgen vrije toegang tot hun eigen gegevens om deze zo nodig aan te passen of te verwijderen.</p>

                <h3 class="title-3">Versie 3 (wedstrijd)</h3>
                <p>Wij hechten belang aan uw privacy. Om de eventuele prijs te overhandigen en vals spel uit te sluiten, zullen wij enige gegevens van u vragen. Bij deelname aan een wedstrijd zullen wij zorgvuldig de volgende gegevens voor u bewaren: <strong>naam, voornaam, adresgegevens, telefoonnummers, e-mailadres</strong>. </p>
                <p>Derden hebben geen toegang tot de informatie die u zelf publiek maakt. Wij geven enkel persoonlijke gegevens door aan derden op uitdrukkelijk verzoek van de gerechtelijke autoriteiten en bij wettelijke verplichtingen. </p>

                <h3 class="title-3">Cookies</h3>
                <p>Deze website maakt gebruik van cookies. Dit zijn kleine bestanden met data die door deze website naar uw browser gestuurd worden en weggeschreven worden op uw harde schijf. Deze data worden gebruikt om de terugkerende bezoeker te identificeren en zo de website er beter op af te stemmen. De bezoeker zal op deze manier sneller kunnen inloggen en eventueel aangepaste inhoud te zien krijgen. Zo hoeft u niet bij ieder bezoek aan deze website uw persoonlijke gegevens opnieuw in te vullen.  </p>
                <p>Als u deze cookies wenst te verwijderen, dient u de handleiding van uw browser te raadplegen. Binnen uw browser beschikt u eveneens over de mogelijkheid uw instellingen omtrent deze cookies te configureren. Zo kan u de browser configureren dat deze het gebruik van cookies verhindert, dat deze u steeds waarschuwt wanneer er een cookie wordt aangemaakt  of dat de cookies nadien van uw harde schijf verwijderd worden.</p>

                <h3 class="title-3">Contactgegevens  </h3>
                <p>U beschikt over het recht alle persoonlijke gegevens die we van u verzamelen in te zien. Eventuele onjuiste of onvolledige gegevens kan u laten wijzigen of verwijderen. Hiervoor kan u zich best rechtstreeks tot de beheerders van de website wenden en hen de nodige contactgegevens bezorgen. </p>
                <p>Een bezoeker heeft altijd het recht om zijn gegevens te laten wijzigen of uit de database te laten verwijderen, hiervoor dienen contactgegevens voorzien te worden rechtstreeks naar ons. </p>
                <p>Onze contactgegevens zijn:</p>
                <p>
                    <strong>
                        Inventis bvba<br>
                        Weg naar Zwartberg 85 bus 3<br>
                        3530 Houthalen, Limburg<br>
                        Belgi&euml;<br>
                        (t) <a href="tel:003289501640">089 - 50 16 40</a><br>
                        (e)&nbsp;<a href="mailto:info@inventis.be">info@inventis.be</a>
                    </strong>
                </p>

                <h3 class="title-3">Statistieken</h3>
                <p>Bepaalde gegevens worden bewaard in statistieken, hetgeen ons toelaat het surfgedrag van onze bezoekers beter te analyseren. Deze gegevens kunnen bestaan uit browsertype, IP-adres, het besturingsprogramma dat u gebruikt en de domeinnaam van de website waarlangs u op deze website gekomen bent. Deze statistieken laten ons toe om onze website beter te optimaliseren voor onze gebruikers en zijn volledig anoniem.</p>
            </div>

        </div><!-- /.row -->
    </div><!-- /.container -->
</div>



