/* ==========================================================================
   Variables
   ========================================================================== */

/* Responsive true/false */
$layout-responsive:                     true;


/* Default sizes */
$default-rem-size:                      16px; // Browser default
$default-block-margin:                  px-2-rem(30px);
$default-block-padding:                 px-2-rem(30px);

/* Colors */
$colors: (
    "purple":                             #5c2d91,
    "blue":                               #1a94ff, // checkbox/radio:checked

    "white":                              #ffffff,

    "gray":                               #eceef1,
    "gray-2":                             #cdcdcd,

    "black":                              #1a1a1a,
    "red":                                #8d313d,
    "green":                              #0092a7
);

/* Screen adaptive config */
$breakpoint-medium: 979px;
$breakpoint-small:  480px;
$breakpoint-mini:   379px;

$screen-sizes: (
    large: (
        typography: (
            font-size:                      16px, // If you change this, also change it in the grunt config for rem_to_px
            line-height:                    28px,
            margin:                         0 0 px-2-rem(30px) 0
        ),
        grid: (
            screen-min-width:               $breakpoint-medium + 1
        )
    ),
    medium: (
        typography: (
            font-size:                      16px, // If you change this, also change it in the grunt config for rem_to_px
            line-height:                    28px,
            margin:                         0 0 px-2-rem(20px) 0
        ),
        grid: (
            screen-min-width:               $breakpoint-small + 1,
            screen-max-width:               $breakpoint-medium
        )
    ),
    small: (
        typography: (
            font-size:                      16px, // If you change this, also change it in the grunt config for rem_to_px
            line-height:                    28px,
            margin:                         0 0 px-2-rem(10px) 0
        ),
        grid: (
            screen-min-width:               $breakpoint-mini + 1,
            screen-max-width:               $breakpoint-small
        )
    ),
    mini: (
        typography: (
            font-size:                      16px, // If you change this, also change it in the grunt config for rem_to_px
            line-height:                    28px,
            margin:                         0 0 px-2-rem(10px) 0
        ),
        grid: (
            screen-max-width:               $breakpoint-mini
        )
    )
);

/* Typography */
$default-font-family:                   'Open Sans Pro', Arial, sans-serif;;

$font-primary:                          $default-font-family;
$font-secondary:                        'Open Sans Condensed', $default-font-family;
$titles-font-family:                    $font-primary;

$paragraph-max-width:                   635px;

$default-font-color:                    get-color("primary");
$default-link-color:                    get-color("secondary");
$default-link-text-decoration:          underline; // none, underline, overline, underline overline, line-through;
$default-link-text-decoration-hover:    none; // none, underline, overline, underline overline, line-through
$default-link-color-hover:              inherit; // Hover color is commented out by default

$default-selection-color:               $default-font-color;
$default-selection-bgcolor:             #B3D4FD; // Browser default (chrome)

$img-margin-top:                        0.4rem; // Align with possible surrounding text

$hr-color:                              $default-font-color;
