<section class="container">
    {{ load(file='partials/breadcrumbs.html.twig', showCode=true, wrapInIframe=false) }}
</section>

<section class="container">
    <div class="row h -large-margin-bottom">
        <div class="col -large-8">
            <h1 class="title-1 h -medium-margin-bottom">This is a Text Page Example!</h1>
            <p class="-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum.</p>
            <figure class="figure -large">
                <img src="http://placeholder.inventis.be/900x600/eeeeee/000000/?text=900x600" alt="Placeholder 900x600"/>
                <div class="figure__caption">&copy; Inventis Webarchitects - A 900px by 600px placeholder</div>
            </figure>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum.</p>
            <p>Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum.</p>
            <figure class="figure -small -left">
                <img src="http://placeholder.inventis.be/900x600/eeeeee/000000/?text=900x600" alt="Placeholder 900x600"/>
                <div class="figure__caption">&copy; Inventis Webarchitects - A 900px by 600px placeholder</div>
            </figure>
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum.</p>
            <p>Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum.</p>
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum.</p>
            <p>Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum.</p>
        </div>
    </div>

    <div class="row h -large-margin-bottom">
        <div class="col -large-8">
            <h2 class="title-2 h -medium-margin-bottom">Images</h2>
            <div class="row">
                <div class="row" data-component="Lightbox" >
                    <div class="col -large-3-equal -medium-4-equal -small-1-2-equal h -medium-margin-bottom">
                        <img src="http://placeholder.inventis.be/300x200/eeeeee/000000/?text=300x200" alt="" data-jslghtbx="http://placeholder.inventis.be/800x600/eeeeee/000000/?text=1" data-jslghtbx-group="mygroup1">
                    </div>
                    <div class="col -large-3-equal -medium-4-equal -small-1-2-equal h -medium-margin-bottom">
                        <img src="http://placeholder.inventis.be/300x200/eeeeee/000000/?text=300x200" alt="" data-jslghtbx="http://placeholder.inventis.be/800x600/eeeeee/000000/?text=2" data-jslghtbx-group="mygroup1">
                    </div>
                    <div class="col -large-3-equal -medium-4-equal -small-1-2-equal h -medium-margin-bottom">
                        <img src="http://placeholder.inventis.be/300x200/eeeeee/000000/?text=300x200" alt="" data-jslghtbx="http://placeholder.inventis.be/800x600/eeeeee/000000/?text=3" data-jslghtbx-group="mygroup1">
                    </div>
                    <div class="col -large-3-equal -medium-4-equal -small-1-2-equal h -medium-margin-bottom">
                        <img src="http://placeholder.inventis.be/300x200/eeeeee/000000/?text=300x200" alt="" data-jslghtbx="http://placeholder.inventis.be/800x600/eeeeee/000000/?text=4" data-jslghtbx-group="mygroup1">
                    </div>
                    <div class="col -large-3-equal -medium-4-equal -small-1-2-equal h -medium-margin-bottom">
                        <img src="http://placeholder.inventis.be/300x200/eeeeee/000000/?text=300x200" alt="" data-jslghtbx="http://placeholder.inventis.be/800x600/eeeeee/000000/?text=2" data-jslghtbx-group="mygroup1">
                    </div>
                    <div class="col -large-3-equal -medium-4-equal -small-1-2-equal h -medium-margin-bottom">
                        <img src="http://placeholder.inventis.be/300x200/eeeeee/000000/?text=300x200" alt="" data-jslghtbx="http://placeholder.inventis.be/800x600/eeeeee/000000/?text=3" data-jslghtbx-group="mygroup1">
                    </div>
                    <div class="col -large-3-equal -medium-4-equal -small-1-2-equal h -medium-margin-bottom">
                        <img src="http://placeholder.inventis.be/300x200/eeeeee/000000/?text=300x200" alt="" data-jslghtbx="http://placeholder.inventis.be/800x600/eeeeee/000000/?text=4" data-jslghtbx-group="mygroup1">
                    </div>
                </div><!-- /.row -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col -large-8">
            <h2 class="title-2 h -medium-margin-bottom">Downloads</h2>
            <a href="#" class="-download"><span class="icon -download"></span>Lorem_ipsum_dolor.sid</a> (208kb) <br>
            <a href="#" class="-download"><span class="icon -download"></span>Lorem_ipsum_dolor.sid</a> (208kb) <br>
            <a href="#" class="-download"><span class="icon -download"></span>Lorem_ipsum_dolor.sid</a> (208kb) <br>
            <a href="#" class="-download"><span class="icon -download"></span>Lorem_ipsum_dolor.sid</a> (208kb) <br>
            <a href="#" class="-download"><span class="icon -download"></span>Lorem_ipsum_dolor.sid</a> (208kb) <br>
        </div>
    </div>
</section><!-- /.container -->
