/* main */
.main {
    box-sizing: border-box;
    position: relative;
    z-index: 0;

    display: block;
    padding: 1em;
    margin-top: 85px;

    @include screen-size(medium, large) {
        padding: 3em;
    }

    @include screen-size(large) {
        width: calc(100% - 250px);
        margin-left: 250px;
    }

    @media print {
        margin-top: 4rem;
    }

}

.main--alt {
    position: relative;
    margin: 65px 0 0 0;
    padding: 0;
    clear: both;
    float: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
}