/* NAV */
.nav-container {
    box-sizing: border-box;
    display: none;
    width: 250px;
    padding: 30px 20px 20px 20px;

    position: fixed;
    top: 65px;
    bottom: 0;
    left: 0;
    z-index: 1;

    border-right: 1px solid get-color("dark-gray");
    background: get-color("white");

    overflow: auto;

    @include screen-size(large) {
        display: block;
    }
}

.nav-container--alt {
    display: none;
    z-index: 9999;
}

.nav-container--developer {
    display: none;
    z-index: 9999;
}

.nav-container--active {
    display: block;
}

// First nav list wrapper
.nav-list {
    display: block;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    list-style-type: none;
    & > li:first-child .nav-list__title {
        border-top: none;
    }
}

.nav-list {
    list-style-type: none;
    list-style: none;
    padding-left: 0;

    li {
        position: relative;
        border-top: 1px solid #5b616b;
        font-size: 1.7rem;
        line-height: 1.5;
        display: list-item;
        margin: 0;
    }
    li:first-child {
        border-top: none;
    }
}

.nav-list__item {
    border: none;
    color: #212121;
    display: block;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    line-height: 1;
    padding: 1rem 1rem 1rem 1.8rem;
    text-decoration: none;

    &:hover, &:focus {
        background-color: #f1f1f1;
        color: #0071bc;
        text-decoration: none;
    }
}

.nav-list__item--active {
    border-left: 4px solid #0071bc;
    padding-left: 1.4rem;
    color: #0071bc;
    font-weight: 700;
}


.nav-list--sub {
    display: none;
    margin: 0;
    width: 100%;
    li {
        border: none;
        font-size: 1.5rem;
    }

    .nav-list__item {
        padding-left: 2.8rem;
        line-height: 1.3;
    }

    .nav-list__item--active {
        border: none;
        padding-left: 2.8rem;
    }

    .nav-list--sub {
        display: block;

        .nav-list__item {
            padding-left: 3.8rem;
        }
    }
}

.nav-list--active {
    display: block;
}


.nav-list__external {
    position: absolute;
    top: 0;
    right: 0;

    display: none;

    text-decoration: none;
    color: get-color("blue");
    z-index: 1;
}

.nav-list {
    li {
        &:hover, &:focus {
            & > .nav-list__external {
                display: block;
            }
        }
    }
}

.nav__developer-toggle {
    font-family: Arial, sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    display: block;
    width: 222px;
    font-size: 15px;
    line-height: 1;
    padding: 5px;
    background: white;
    text-decoration: none;
    z-index: 9999;
}