/* STYLEGUIDE__LIST */
.styleguide__list {
    max-width: 53rem;
    list-style: none;
    margin-bottom: 2em;
    padding-left: 0;
    display: table;

    li {
        display: table-row;
        line-height: 1.5;
        margin-top: .75em;
        margin-bottom: .75em;

        ol &{
        }

        &:before {
            display: table-cell;
            padding-right: 0.4em;
        }

        &:after {
            content: "";
            display: block;
            margin-bottom: 0.5em;
        }
    }
}

ul.styleguide__list {
    li {
        &:before {
            content: '\2022';
        }
    }
}

ol.styleguide__list {
    li {
        counter-increment: table-ol;
        &:before {
            content: counter(table-ol) ".";
            text-align: right;
        }
    }
}

[class*="styleguide__title-"] + .styleguide__list,
h1 + .styleguide__list,
h2 + .styleguide__list,
h3 + .styleguide__list,
h4 + .styleguide__list,
h5 + .styleguide__list,
h6 + .styleguide__list,
p + .styleguide__list {
    margin-top: 0;
}