/* STYLEGUIDE */
.styleguide {
    font-size: 10px;
    font-family: $font-primary;
    font-size: 10px;

    body {
        font-family: $font-primary;
        font-weight: 400;
        font-size: 17px;
        line-height: 26px;
    }
}