@mixin sticky-footer($height, $my-root: '#wrapper', $my-footer: '#footer') {
    @media screen {
        html, body {
            padding: 0;
            margin: 0;
            height: 100%;
        }

        #{$my-root} {
            box-sizing: border-box;
            min-height: 100%;
            padding-bottom: $height;
        }

        #{$my-footer} {
            height: $height;
            margin-top: $height * -1;
        }
    }
}