/* Defaults */
a {
    color: $default-link-color;
    text-decoration: $default-link-text-decoration;

    &:hover, &:focus {
        text-decoration: $default-link-text-decoration-hover;
    }
}

a[href^=mailto] {
}

a[rel=external] {
}

a[href^=tel] {
    text-decoration: inherit;
    color: inherit;
    cursor: inherit;
    &:hover, &:focus {
        text-decoration: inherit;
        color: inherit;
        cursor: inherit;
    }
}