/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors */
$color-white:                           white;
$color-black:                           black;
$color-red:                             red;
$color-green:                           green;
$color-purple:                          purple;
$color-blue:                            #1a94ff;
$color-gray:                            #cdcdcd;

// Colors array for looping (add all colors to it)
$colors: $color-white $color-black $color-red $color-green $color-purple $color-blue $color-gray;

$color-primary:                         $color-blue;
$color-secondary:                       $color-purple;
$default-text-color:                    $color-black;

/* Responsive true/false */
$layout-responsive:                     true;

/* Default sizes */
$default-rem-size:                      16px; // Browser default
$default-block-margin:                  px-2-rem(30px);
$default-block-padding:                 px-2-rem(30px);

/* Screen adaptive config */
$breakpoint-medium: 979px;
$breakpoint-small:  480px;
$breakpoint-mini:   379px;

$screen-sizes: (
    large: (
        typography: (
            font-size:                      1rem, // If you change this, also change it in the gulp config for rem_to_px
            line-height:                    1.5,
            margin:                         0 0 1.5rem 0
        ),
        grid: (
            screen-min-width:               $breakpoint-medium + 1,
            container-max-width:            1440px,
            margin:                         0,
            total-columns:                  12,
            gutter-width:                   40px,
            side-padding:                   40px,
        )
    ),
    medium: (
        typography: (
            font-size:                      1rem, // If you change this, also change it in the grunt config for rem_to_px
            line-height:                    1.5,
            margin:                         0 0 1.5rem 0
        ),
        grid: (
            screen-min-width:               $breakpoint-small + 1,
            screen-max-width:               $breakpoint-medium,
            total-columns:                  8,
            gutter-width:                   40px,
            side-padding:                   40px,
        )
    ),
    small: (
        typography: (
            font-size:                      1rem, // If you change this, also change it in the grunt config for rem_to_px
            line-height:                    1.5,
            margin:                         0 0 1.5rem 0
        ),
        grid: (
            screen-min-width:               $breakpoint-mini + 1,
            screen-max-width:               $breakpoint-small,
            total-columns:                  2,
            gutter-width:                   20px,
            side-padding:                   20px,
            subgrids: (
                2: (1)
            )
        )
    ),
    mini: (
        typography: (
            font-size:                      1rem, // If you change this, also change it in the grunt config for rem_to_px
            line-height:                    1.5,
            margin:                         0 0 1.5rem 0
        ),
        grid: (
            screen-max-width:               $breakpoint-mini,
            total-columns:                  2,
            gutter-width:                   15px,
            side-padding:                   20px
        )
    )
);