<div class="grid-example">
    <div class="row">
        <div class="col -large-11 -large-offset-1 -large-omega">1</div>
    </div>
    <div class="row">
        <div class="col -large-10 -large-offset-2 -large-omega">2</div>
    </div>
    <div class="row">
        <div class="col -large-9 -large-offset-3 -large-omega">3</div>
    </div>
    <div class="row">
        <div class="col -large-8 -large-offset-4 -large-omega">4</div>
    </div>
    <div class="row">
        <div class="col -large-7 -large-offset-5 -large-omega">5</div>
    </div>
    <div class="row">
        <div class="col -large-6 -large-offset-6 -large-omega">6</div>
    </div>
    <div class="row">
        <div class="col -large-5 -large-offset-7 -large-omega">7</div>
    </div>
    <div class="row">
        <div class="col -large-4 -large-offset-8 -large-omega">8</div>
    </div>
    <div class="row">
        <div class="col -large-3 -large-offset-9 -large-omega">9</div>
    </div>
    <div class="row">
        <div class="col -large-2 -large-offset-10 -large-omega">10</div>
    </div>
    <div class="row">
        <div class="col -large-1 -large-offset-11 -large-omega">11</div>
    </div>
</div>
