<div class="grid__container--test">
    <div class="grid__row">
        <div class="grid--v-large__col--11 -offset--1 -omega">1</div>
    </div>
    <div class="grid__row">
        <div class="grid--v-large__col--10 -offset--2 -omega">2</div>
    </div>
    <div class="grid__row">
        <div class="grid--v-large__col--9 -offset--3 -omega">3</div>
    </div>
    <div class="grid__row">
        <div class="grid--v-large__col--8 -offset--4 -omega">4</div>
    </div>
    <div class="grid__row">
        <div class="grid--v-large__col--7 -offset--5 -omega">5</div>
    </div>
    <div class="grid__row">
        <div class="grid--v-large__col--6 -offset--6 -omega">6</div>
    </div>
    <div class="grid__row">
        <div class="grid--v-large__col--5 -offset--7 -omega">7</div>
    </div>
    <div class="grid__row">
        <div class="grid--v-large__col--4 -offset--8 -omega">8</div>
    </div>
    <div class="grid__row">
        <div class="grid--v-large__col--3 -offset--9 -omega">9</div>
    </div>
    <div class="grid__row">
        <div class="grid--v-large__col--2 -offset--10 -omega">10</div>
    </div>
    <div class="grid__row">
        <div class="grid--v-large__col--1 -offset--11 -omega">11</div>
    </div>
</div>