<div class="row grid-example">
    <div class="col -large-3-equal">3</div>
    <div class="col -large-3-equal">3</div>
    <div class="col -large-3-equal">3</div>
    <div class="col -large-3-equal">3</div>
    <div class="col -large-3-equal">3</div>
    <div class="col -large-3-equal">3</div>
    <div class="col -large-3-equal">3</div>
    <div class="col -large-3-equal">3</div>
</div>
