<div class="grid__container--test">
    <div class="grid__row">
        <div class="grid--v-large__col--11 -v-large-offset--1 -v-large-omega">1</div>
    </div>
    <div class="grid__row">
        <div class="grid--v-large__col--10 -v-large-offset--2 -v-large-omega">2</div>
    </div>
    <div class="grid__row">
        <div class="grid--v-large__col--9 -v-large-offset--3 -v-large-omega">3</div>
    </div>
    <div class="grid__row">
        <div class="grid--v-large__col--8 -v-large-offset--4 -v-large-omega">4</div>
    </div>
    <div class="grid__row">
        <div class="grid--v-large__col--7 -v-large-offset--5 -v-large-omega">5</div>
    </div>
    <div class="grid__row">
        <div class="grid--v-large__col--6 -v-large-offset--6 -v-large-omega">6</div>
    </div>
    <div class="grid__row">
        <div class="grid--v-large__col--5 -v-large-offset--7 -v-large-omega">7</div>
    </div>
    <div class="grid__row">
        <div class="grid--v-large__col--4 -v-large-offset--8 -v-large-omega">8</div>
    </div>
    <div class="grid__row">
        <div class="grid--v-large__col--3 -v-large-offset--9 -v-large-omega">9</div>
    </div>
    <div class="grid__row">
        <div class="grid--v-large__col--2 -v-large-offset--10 -v-large-omega">10</div>
    </div>
    <div class="grid__row">
        <div class="grid--v-large__col--1 -v-large-offset--11 -v-large-omega">11</div>
    </div>
</div>