/* FILTER__SEARCH */
.filter__search {
    box-sizing: border-box;
    background: get-color("purple");

    padding: 6px;
}

.filtersearch__icon {
    position: absolute;
    top: 7px;
    right: 7px;

    background: get-color("gray");
    width: 29px;
    height: 29px;
    text-align: center;
    line-height: 29px;
    color: get-color("blue");
    border-radius: 3px;
}