/* Form Field */

/* Set basic styling on all elements */
.form__field {
    @include default-typography((font-size, line-height));

    display: inline-block;
    line-height: normal;
    margin: 0 0 $form-input-margin-bottom 0;
    width: 100%;
    padding: $form-input-padding;
}

/* Style elements further where we can */
.form__field--email,
.form__field--number,
.form__field--tel,
.form__field--password,
.form__field--text,
.form__field--tel,
.form__field--search,
.form__field--textarea,
.form__field--date {
    box-sizing: border-box;
    border-radius: $form-input-border-radius;

    -webkit-appearance: none; // Clear inner shadow on iOS devices

    padding: $form-input-padding;
    background-color: $form-input-background-color;
    color: $default-font-color;
    border: 1px solid $form-input-border-color;

    @include input-placeholder {
        color: $form-input-placholder-color;
    }

    &:focus {
        background-color: $form-input-background-color-focus;
        border-color: $form-input-border-color-focus;
        outline: none;
    }

    .ie7 &{ // No side padding because box-sizing is not working here
        padding-left: 0;
        padding-right: 0;
    }
}

/* Set height on elements */
.form__field--email,
.form__field--number,
.form__field--tel,
.form__field--password,
.form__field--text,
.form__field--tel,
.form__field--search,
.form__field--date{
    word-break: normal;
    height: $form-input-height;

    .no-boxsizing &{
        // height: $form-input-height - 2 * $form-input-padding;
    }
}

.form__field--checkbox,
.form__field--radio {
    margin-right: 10px;
}