/* form__FIELD */

// Defaults & resets
.form__field {
    font-size: 16px;
    line-height: normal;
    margin: 0;
    width: 100%;
    padding: 10px;
}


.form__field--date,
.form__field--email,
.form__field--file,
.form__field--number,
.form__field--password,
.form__field--search,
.form__field--tel,
.form__field--text,
.form__field--textarea,
.form__field--time {
    -webkit-appearance: none !important; // HARD reset to remove shadow in input for IOS
    border-radius: 0;

    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    word-break: normal;
    border: 1px solid get-color("gray");

    background-color: get-color("white");
    color: get-color("black");


    @include input-placeholder {
        color: get-color("gray-2");
    }

    &:focus {
        background-color: get-color("white");
        border-color: get-color("gray-2");
        outline: none;
    }

    .form__entry--invalid &{
        border-color: get-color("red");
        background-color: lighten(get-color("red"), 45%);

        @include input-placeholder {
            color: get-color("white");
        }

        &:focus {
            background-color: lighten(get-color("red"), 47%);
        }
    }
}


input[type="search"][class*="form__field"] {
    box-sizing: border-box;
}


/* form Imports */
@import 'form/*';