/* Form Search */
// TODO
.form__search {
    padding: 20px;
    // background-color: get-color(gray);
    position: relative;
    input[type=search] {
        border-radius: 0px;
        background-color: get-color(white);
        padding-right: 30px;
        &:focus {
            background-color: get-color(white);
        }
        @include input-placeholder {
            font-style: italic;
        }
    }
}

// TODO
.form__search__submit {
    position: absolute;
    right: 20px;
    margin-right: 10px;
    .icon {
        top: 3px;
    }
    &:hover, &:focus {
        margin-right: 10px;
        color: #000;
    }
}