/* form__LABEL */
%form__label {
    display: inline-block;
    cursor: pointer;

    color: $color-black;

    font-size: 16px;
    line-height: 1.25;
    margin: 0 0 .5em 0;

    @include screen-size(mini, small) {
        display: block;
    }
}

.form__label {
    @extend %form__label;
}

.form__label--checkbox,
.form__label--radio {
    @extend %form__label;

    position: relative;

    display: inline-block;
    vertical-align: bottom;

    cursor: pointer;
    line-height: 1;

    margin-bottom: 0.5em;
    padding-right: 1.5em;
}