/* ==========================================================================
   Styleguide layout: HTML and Body
   ========================================================================== */

html, body {
    min-width: 320px;
    width: 100%;
    font-family: $default-font-family;
}

html {
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-size: 10px;
    color: $default-font-color;
}

body {
    position: relative;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    @if map-has-key($screen-sizes, medium) {
        min-width: 320px;
    } @else {
        min-width: map-get(map-get(map-get($screen-sizes, large), grid), screen-min-width);
    }

    // Don't let long words break the layout on small area's
    word-wrap: break-word;

    font-size: 1.7rem;
}

[data-component-config] {
    display: none;
}