a {
    color: $color-secondary;
    text-decoration: underline;

    &:hover, &:focus {
        text-decoration: none;
    }
}

a[href^=mailto] {
}

a[rel=external] {
}

a[href^=tel] {
    text-decoration: inherit;
    color: inherit;
    cursor: inherit;
    &:hover, &:focus {
        text-decoration: inherit;
        color: inherit;
        cursor: inherit;
    }
}