/* STYLEGUIDE TITLES */

/* Titles */
%title {
    color: $color-primary;
    display: block;
    line-height: 1.25;
    margin: 0 0 1.5rem 0;
    font-family: $font-secondary;
    font-weight: $font-weight-bold;

    a {
        color: inherit;
        text-decoration: none;
    }
}

h1, .title--1 {
    @extend %title;
    font-size: px-2-rem(40px);
}

h2, .title--2 {
    @extend %title;
    font-size: px-2-rem(26px);
    font-weight: $font-weight-semi-bold;
}

h3, .title--3 {
    @extend %title;
    font-size: px-2-rem(22px);
    font-weight: $font-weight-semi-bold;
    color: $color-secondary;
}

h4, .title--4 {
    @extend %title;
    font-size: px-2-rem(18px);
    font-weight: $font-weight-semi-bold;
    text-transform: uppercase;
}

h5, .title--5 {
    @extend %title;
    font-size: px-2-rem(16px);
    font-weight: $font-weight-semi-bold;
    text-transform: uppercase;
    color: $color-secondary;
}