/* STYLEGUIDE TITLES */

/* Titles */
.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6 {
    color: get-color("black");
    margin: 0 0 .5em 0;

    line-height: 1.25;

    display: block;
    font-family: $font-secondary;
    text-transform: none;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.title-display {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 52px;
    line-height: 68px;
    margin-bottom: 0.67em;
}

.title-1 {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 0.67em;
}

.title-2 {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
}

.title-3 {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}

.title-4 {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
}

.title-5 {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.title-6 {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-transform: uppercase;
}

.title--bordered {
    &:after {
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        margin-top: 8px;
        background: get-color("orange");
    }
}

.title--style-bordered {
    border-bottom: 1px solid #5b616b;
    padding-bottom: .8rem;
}

h1 { @extend .title-1; }
h2 { @extend .title-2; }
h3 { @extend .title-3; }
h4 { @extend .title-4; }
h5 { @extend .title-5; }
h6 { @extend .title-6; }