/* Styleguide Grid--example */
.grid-example {
    .col {
        box-sizing: border-box;
        background: rgba(0,0,0,0.2);
        color: #fff;
        padding: 10px;
        margin-bottom: 10px;
        border: 0 solid #ccc;
        box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
        margin-bottom: 0;
    }
}
