/* Styleguide Icons */
.icons {
    font-size: 36px;

    .svg-icon {
        color: black;
        display: inline-block;
        width: 80px;
        padding-bottom: 20px;
        text-align: center;
    }

}
