/* BOX */
.box {
    box-sizing: border-box;
    padding: 2rem;

    & > *:last-child {
        margin-bottom: 0;
    }

    @each $color, $hex in $colors {
        &.-#{$color} {
            background: $hex;
        }
    }
}

