/* Button */
%button-reset {
    transition: background .2s ease;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;

    color: get-color("white");
    background: get-color("green");
    font-family: $font-primary;
    text-decoration: none;

    font-size: 15px;
    line-height: 1;
    text-decoration: none;
    font-weight: 600;

    vertical-align: middle;
    &:hover, &:focus {
        text-decoration: none;
    }
}

.button {
    @extend %button-reset;
    transition: all .3s ease;

    border-radius: 3.5px;
    cursor: pointer;

    box-sizing: border-box;
    padding: 13px 12px 12px 12px;

    background: get-color("red");
    color: get-color("white");
    position: relative;
    overflow: hidden;

    span {
        position: relative;
        z-index: 2;
    }

    svg {
        position: relative;
        z-index: 1;
        fill: currentColor;

        width: 14px;
        height: 14px;
    }

    &:before {
        transition: all .3s ease;
        transform: skewX(-45deg);

        content: '';
        display: block;
        width: 200%;
        height: 100%;

        background: get-color("red-2");

        position: absolute;
        top: 0;
        right: 130%;
        bottom: 0;
    }

    &:hover, &:focus {
        &:before {
            right: -50%;
        }
    }

    &:active {
        &:before {
            background: get-color("green");
        }
    }

    &.-white {
        background: get-color("white");
        color: get-color("black");
        border: 3px solid get-color("white");
        &:hover, &:focus {
            background: transparent;
            color: get-color("white");
        }
        &:before {
            background: transparent;
            height: 101%;
        }
    }

    &.-show-hide-password {
        padding: 0.4rem 1rem;
        float: right;
        font-size: 1.3rem;
        font-weight: 400;
        background: darken(get-color("gray"), 7%);
        &:hover, &:focus {
            background: get-color("gray-2");
        }
    }

    &.-full-width {
        width: 100%;
        text-align: center;
    }

    &.-no-style,
    &.-no-style:hover,
    &.-no-style:focus {
        border-radius: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        border: 0;
        background: none;
        color: get-color("primary");
        font-weight: 400;
    }

    &.-loading[disabled] {
        position: relative;
        color: transparent;

        &:hover, &:focus {
            color: transparent;
        }

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 40px;
            height: 40px;
            margin: -20px -20px;
            background-color: get-color("white");
            border-radius: 100%;
            animation: scaleout 1.0s infinite ease-in-out;
        }
    }

}

@keyframes scaleout {
    0% {
        transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
        opacity: 0;
    }
}
