/* Figure */
.figure {
    max-width: 892px;
    width: 100%;
    float: none;
    margin: 0;
    margin-bottom: 2rem;

    a,
    img {
        margin-bottom: 1rem;
    }

    &.-small {
        img,
        .figure__caption {
            max-width: 50%
        }
    }

    &.-medium {
        img,
        .figure__caption {
            max-width: 75%
        }
    }

    &.-large {
        img,
        .figure__caption {
            max-width: 100%
        }
    }

    &.-left {
        img {
            @include screen-size(medium, large) {
                float: left;
                margin-right: 2rem;
                margin-bottom: 2rem;
            }
        }

        .figure__caption {
            @include screen-size(medium, large) {
                float: left;
                margin-top: -1rem;
            }
        }
    }

    &.-right {
        img {
            @include screen-size(medium, large) {
                float: right;
                margin-left: 2rem;
                margin-bottom: 2rem;
            }
        }
        .figure__caption {
            @include screen-size(medium, large) {
                float: right;
                margin-top: -1rem;
            }
        }
    }

    &.-center {
        clear: both;
        text-align: center;
        img {
            box-sizing: border-box;
            display: block;
            margin: 0 auto;
            margin-bottom: 2rem;
        }
        .figure__caption {
            @include screen-size(medium, large) {
                margin: 0 auto;
                margin-top: -1rem;
            }
        }
    }
}

.figure__caption {
    display: block;
    width: 100%;
    color: get-color("gray-2");
    font-size: 1.3rem;
    font-style: italic;
    margin-bottom: 2rem;
}
