// Flash-message
.flash-container {
    display: block;
    transition: transform .3s .5s ease, opacity .3s .5s ease;
    transform: translate3d(0,0,0);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

    opacity: 1;

    &.-hide {
        opacity: 0;
        transform: translate3d(0,-100%,0);
    }
}

.flash-message {
    box-sizing: border-box;
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    align-items: center;
    background: rgba(get-color("black"), .8);

    p {
        margin: 0;
        max-width: 100%;
        font-size: 1.8rem;
        color: get-color("white");
        line-height: 1;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    &:before {
        @extend .icon;
        display: inline-block;
        height: 0;
        text-align: center;
        padding: 4rem;
        line-height: 0;
        color: get-color("white");
        vertical-align: middle;
        font-size: 2rem;
    }

    &.-success {
        &:before { background: get-color("green"); }
        @extend .-checkmark !optional;
    }

    &.-error {
        &:before { background: get-color("red"); }
        @extend .-cross !optional;
    }

    &.-info {
        &:before { background: get-color("blue"); }
        @extend .-info !optional;
    }

    &.-warning {
        &:before { background: get-color("orange"); }
        @extend .-warning !optional;
    }
}

.flash-message__close {
    position: absolute;
    right: 0;
    font-size: 1.2rem;
    margin-right: 2rem;
    text-decoration: none;
    &:hover, &:focus {
        color: get-color("white");
        text-decoration: none;
    }
}

