/* FILTER__PANNEL */
.filter__pannel {
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    border-bottom: 1px solid #e4e5e7;
    &:last-child {
        border-bottom: none;
    }
}