/* Filter Fieldset */
.filter__fieldset {
    margin: 0;
    padding: 20px;
    border: 0;

    border-bottom: 1px solid rgba(#000, .2);
    background-color: get-color(gray);

    // TODO
    // Refactor as modifier
    &:last-child, &.slvzr-last-child {
        border-bottom: 0;
    }

    // TODO
    .form__entry {
        margin-bottom: 5px;
    }
}
