/* FILTER__PANNEL-TITLE */
.filter__pannel-title {
    position: relative;
    display: block;
    padding: 10px 30px 10px 10px;
    cursor: pointer;

    &:before {
        @extend .icon;
        @extend .icon-content--arrow-down;
        position: absolute;
        top: 50%;
        right: 10px;

        font-size: 6px;
        margin-top: -3px;
    }

    &:after {
        content: '';
        width: 4px;
        height: 4px;
        background: get-color("blue");
        border-radius: 100%;

        position: relative;
        top: -3px;
        margin-left: 8px;

    }
}

.filter__pannel-title--open {
    &:before {
        @extend .icon-content--arrow-up;
    }
}

.filter__pannel-title--tagged {
    &:after {
        display: inline-block;
    }
}