/* Filter Title */
.filter__title {
    @include screen-size(large) {
        font-size: px-2-rem(22px);
        line-height: px-2-rem(35px);
    }
    @include screen-size(medium) {
        font-size: px-2-rem(22px);
        line-height: px-2-rem(30px);
    }
    @include screen-size(small, mini) {
        font-size: px-2-rem(18px);
        line-height: px-2-rem(25px);
    }

    color: get-color(white);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    background: get-color(secondary);
    padding: 20px;
}