/* FILTER__PANNEL-CONTENT */
.filter__pannel-content {
    overflow: hidden;
}

.filter__pannel-content--open {
    display: block;
}

.filter__pannel-content--transitioning {
    -moz-transition: height 0.35s cubic-bezier(0.7,0,0.3,1);
    -o-transition: height 0.35s cubic-bezier(0.7,0,0.3,1);
    -webkit-transition: height 0.35s cubic-bezier(0.7,0,0.3,1);
    transition: height 0.35s cubic-bezier(0.7,0,0.3,1);

    position: relative;
    overflow: hidden;
    height: 0;
}