/* PARALLAX */
.parallax {
    box-sizing: border-box;
    position: relative;

    display: block;
    width: 100%;

    background-color: tomato;
    overflow: hidden;

    @include screen-size(mini, small) {
        height: auto !important;
    }

    img {
        @include screen-size(mini, small) {
            display: block !important;
        }
    }

}

.parallax__image {
    @include screen-size(mini, small) {
        display: none;
    }

    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);

    position: absolute;
    top: 50%;
    right: 0;
    left: 0;

    display: block;
    width: 100%;

    background-image: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}