/* Summary paragraph */
.summary {
    @include screen-size(large) {
        font-size: px-2-rem(19px);
        line-height: px-2-rem(30px);
    }
    @include screen-size(medium) {
        font-size: px-2-rem(19px);
        line-height: px-2-rem(30px);
    }
    @include screen-size(small, mini) {
        font-size: px-2-rem(18px);
        line-height: px-2-rem(30px);
    }
}