/* Wrapper */
.wrapper {
    position: relative;
    width: 100%;

    &.-alt {
        padding-top: $default-block-padding;
        padding-bottom: $default-block-padding;
    }

    @each $color, $hex in $colors {
        &.-#{$color} {
            background: $hex;
        }
    }
}
