<div class="wrapper">
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="grid--v-large__col--8 grid--v-large__offset--2 text--centered">
                <h1 class="title-1">Lorem ipsum dolor sid</h1>
                <p class="summary">Repellat fugit cum libero eligendi tempore ducimus fuga, quos totam aspernatur. Totam accusamus soluta corporis et est aspernatur, tenetur voluptatibus temporibus harum!</p>
            </div>
        </div><!-- /.row -->
        <br>

        <div class="parallax" data-component="Application/Components/Parallax">
            <span data-component-config>
                {
                    "height": 800, {# the height of the parallax item: auto | [value] #}
                    "direction": "top", {# the diretion the image will scroll: top | bottom #}
                    "scrollHeight": 400 {# the amount of pixels that the image will scroll: default is 200 #}
                }
            </span>
            <img src="https://images.unsplash.com/photo-1439723680580-bfd9d28ef9b6?crop=entropy&fit=crop&fm=jpg&h=2000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925" alt="Placeholder"/>
        </div>
        <br>
        <br>
        <br>

        <div class="row">
            <div class="grid--v-large__col--8 grid--v-large__offset--2">
                <h1 class="title-2">Lorem ipsum dolor sid</h1>
                <p>Tenetur porro ut autem neque ipsum ex nihil, dolorum omnis dolore consectetur saepe odio dolores aperiam magnam eveniet nobis, voluptatem maxime sequi! Iusto eum in dicta neque debitis corrupti sapiente minus est animi nobis deserunt at libero sed magni recusandae vitae nihil, iure! Quia.</p>
                <p>Repellendus sequi similique, sint totam officia, quam velit molestias voluptates doloribus ratione adipisci aliquam labore numquam fugit obcaecati dicta molestiae, omnis exercitationem!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, eius blanditiis expedita. Saepe, officia? Ullam ducimus natus expedita, eveniet sit ex cumque nesciunt. Vitae voluptate obcaecati, quibusdam sed illum sint! Eum ab eos enim sed ut ex mollitia, sapiente repudiandae odio ipsum quisquam minus, facilis recusandae numquam consequatur similique ipsa provident velit.</p>
            </div>
        </div><!-- /.row -->
        <br>
        <br>
        <br>

        <div class="parallax" data-component="Application/Components/Parallax">
            <span data-component-config>
                {
                    "height": 800, {# the height of the parallax item: auto | [value] #}
                    "direction": "top", {# the diretion the image will scroll: top | bottom #}
                    "scrollHeight": 400 {# the amount of pixels that the image will scroll: default is 200 #}
                }
            </span>
            <img src="https://images.unsplash.com/photo-1431887773042-803ed52bed26?crop=entropy&dpr=2&fit=crop&fm=jpg&h=2000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1925" alt="Placeholder"/>
        </div>
        <br>
        <br>
        <br>

        <div class="row">
            <div class="grid--v-large__col--8 grid--v-large__offset--2">
                <h1 class="title-3">Lorem ipsum dolor sid</h1>
                <p>Tenetur porro ut autem neque ipsum ex nihil, dolorum omnis dolore consectetur saepe odio dolores aperiam magnam eveniet nobis, voluptatem maxime sequi! Iusto eum in dicta neque debitis corrupti sapiente minus est animi nobis deserunt at libero sed magni recusandae vitae nihil, iure! Quia.</p>
                <p>Repellendus sequi similique, sint totam officia, quam velit molestias voluptates doloribus ratione adipisci aliquam labore numquam fugit obcaecati dicta molestiae, omnis exercitationem!</p>
                <p>Asperiores, repellat excepturi debitis eos quod praesentium fugit ducimus ullam, assumenda rerum error architecto vitae facilis nam eum totam. Ratione, voluptatem illo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptas laborum earum tempore sequi reiciendis nesciunt facere aspernatur sunt ducimus dolore voluptatum eaque, debitis nihil possimus corporis fuga labore similique.</p>
            </div>
        </div><!-- /.row -->
        <br>
        <br>
        <br>

    </div><!-- /.container -->
</div>
