/* Text helpers */
.text--underline {
    text-decoration: underline;
}

.text--uppercase {
    text-transform: uppercase;
}

.text--centered {
    text-align: center;
}

.text--alt-font {
    font-family: $font-secondary
}

.text--no-margin {
    margin-bottom: 0;
}

.text--left {
    text-align: left;
}

.text--right {
    text-align: right;
}

.text--default {
    @include default-typography((font-size, line-height));
    color: $default-font-color;
}

@each $color, $hex in $colors {
    .text--#{"" + $color} {
        color: $hex;
    }
}