/* FORM__FIELD */
%form__field-reset {
    transition: all .3s ease;
    box-sizing: border-box;

    -webkit-appearance: none !important; // HARD reset to remove shadow in input for IOS
    border-radius: 0.4rem;

    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0.9rem 1.2rem;
    vertical-align: baseline;

    color: get-color("black");
    background: get-color("white");
    border: 1px solid get-color("gray");

    // font-family: $font-open-sans;
    font-size: 1.5rem;
    line-height: normal;
    font-weight: 400;
}

// FF cursor pointer bug fix
input {
    cursor: pointer;
}

.form__field {
    @extend %form__field-reset;
    border-radius: 5px;

    @include input-placeholder {
        position: relative;
        top: -1px;
        font-size: 1.4rem;
        color: get-color("gray");
    }

    &:focus {
        outline: none;
        border-color: darken(get-color("gray"), 10%);
    }

    &[disabled] {
        background: get-color("gray");
        color: get-color("gray-2");
    }

    .form__entry.-invalid &{
        border-radius: 5px 5px 0 0;
        border: 1px solid get-color("red");
    }

    .form__entry.-password-strength &{
        border-radius: 5px 5px 0 0;
    }
}
