/* Helper classes */
.h-no-margin {
    margin: 0;
}

.h-mini-margin-bottom {
    margin-bottom: 5px;
}

.h-small-margin-bottom {
    margin-bottom: 10px;
}

.h-medium-margin-bottom {
    margin-bottom: 20px;
}

.h-large-margin-bottom {
    margin-bottom: 30px;
}

.h-extra-large-margin-bottom {
    margin-bottom: 40px;
}

.h-no-padding {
    padding: 0;
}

.h-small-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.h-medium-padding {
    padding-top: 30px;
    padding-bottom: 30px;
}

.h-medium-padding-bottom {
    padding-bottom: 30px;
}

.h-large-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.h-large-padding-bottom {
    padding-bottom: 40px;
}

.h-bottom-border {
    border-bottom: 1px solid get-color("orange");
}

/* HELPER-EQUAL-HEIGHT */
.h-equal-height,
.h-flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font: 0/0 $default-font-family; // for IE10-9
}

.h-v-large__equal-height {
    @include screen-size(large) {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        font: 0/0 $default-font-family; // for IE10-9
    }
}

.h-v-medium__equal-height {
    @include screen-size(medium) {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        font: 0/0 $default-font-family; // for IE10-9
    }
}

.h-v-small__equal-height {
    @include screen-size(small) {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        font: 0/0 $default-font-family; // for IE10-9
    }
}

.h-v-mini__equal-height {
    @include screen-size(mini) {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        font: 0/0 $default-font-family; // for IE10-9
    }
}

.h-flex {
    flex: 1;
}

.h-hide-mini {
    @include screen-size(mini) {
        display: none;
    }
}

.h-hide-small {
    @include screen-size(small) {
        display: none;
    }
}

.h-hide-medium {
    @include screen-size(medium) {
        display: none;
    }
}

.h-hide-large {
    @include screen-size(large) {
        display: none;
    }
}
