/* Helper classes */
%clearfix {
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }
    &:after {
        clear: both;
    }

    /*
     * For IE 6/7 only
     * Include this rule to trigger hasLayout and contain floats.
     */
    .ie7 & {
        zoom: 1;
    }

    @include screen-size(medium, large) {
        .left {
            float: left;
        }

        .right {
            float: right;
        }
    }
}

.h {
    &.-no-margin {
        margin: 0;
    }

    &.-mini-margin-bottom {
        margin-bottom: .5rem;
    }

    &.-small-margin-bottom {
        margin-bottom: 1rem;
    }

    &.-medium-margin-bottom {
        margin-bottom: 2rem;
    }

    &.-large-margin-bottom {
        margin-bottom: 3rem;
    }

    &.-extra-large-margin-bottom {
        margin-bottom: 4rem;
    }

    &.-no-padding {
        padding: 0;
    }

    &.-small-padding {
        padding: 1rem;
    }

    &.-medium-padding {
        padding: 2rem;
    }

    &.-large-padding {
        padding: 3rem;
    }

    &.-medium-padding-bottom {
        padding-bottom: 3rem;
    }

    &.-large-padding-bottom {
        padding-bottom: 3rem;
    }

    /* HELPER-EQUAL-HEIGHT */
    &.-equal-height,
    &.-flexbox {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        font: 0/0 $default-font-family; // for IE10-9
    }

    &.-flex {
        flex: 1;
    }

    &.-hide-mini {
        @include screen-size(mini) {
            display: none;
        }
    }

    &.-hide-small {
        @include screen-size(small) {
            display: none;
        }
    }

    &.-hide-medium {
        @include screen-size(medium) {
            display: none;
        }
    }

    &.-hide-large {
        @include screen-size(large) {
            display: none;
        }
    }

    &.-hide {
        display: none;
    }

    &.-loading {
        position: relative;
        color: transparent;

        &:hover, &:focus {
            color: transparent;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            background-color: get-color("white");
            border-radius: 100%;
            animation: load 1.0s infinite ease-in-out;
            z-index: 9999;
        }
    }
}

@keyframes load {
    0% {
        transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
        opacity: 0;
    }
}
