/* Text helpers */
.text {
    &.-underline {
        text-decoration: underline;
    }

    &.-uppercase {
        text-transform: uppercase;
    }

    &.-centered {
        text-align: center;
    }

    &.-alt-font {
        font-family: $font-secondary
    }

    &.-no-margin {
        margin-bottom: 0;
    }

    &.-left {
        text-align: left;
    }

    &.-right {
        text-align: right;
    }

    &.-huge {
        font-size: 140px;
        line-height: 1.05;
    }

    &.-default {
        @include default-typography((font-size, line-height));
        color: $default-font-color;
    }

    @each $color, $hex in $colors {
        &.-#{"" + $color} {
            color: $hex;
        }
    }
}
