/* STYLEGUIDE__PARAGRAPH */
p,
.styleguide__paragraph {
    max-width: 53rem;
    margin-bottom: 1em;

    font-family: $font-primary;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}



