<div class="wrapper">
    <div class="grid__container">
        <div class="grid__row">
            <div class="grid--v-large__col--8 grid--v-large__offset--2">
                <h1 class="title-1">Privacy &amp; cookie policy</h1>
                <p class="summary">Bescherming van de persoonlijke levenssfeer</p>
                <p>Uw persoonlijke gegevens zijn bij ons veilig. Wij hechten veel waarde aan het vertrouwen dat u in ons bedrijf heeft en alle persoonlijke informatie die u ons geeft wordt met de grootste zorg en vertrouwelijkheid behandeld. Wij hebben die informatie nodig om uw aanvragen zo snel en vlot mogelijk uit te voeren. Deze gegevens zullen tevens enkel gebruikt worden met uw expliciete goedkeuring, afhankelijk van de diensten waarop u intekende in uw persoonlijk profiel.</p>
                <p>[Company Name] leeft volledig de Belgische wet na van 8 december 1992 m.b.t. tot het verwerken van persoonlijke gegevens, gewijzigd door de wet van 11 december 1998, waarin rekening wordt gehouden met de Europese richtlijn van 24 oktober 1995. Deze wet bepaalt dat de persoon of het bedrijf die gegevens verzamelt, de toestemming moet hebben van de persoon over wiens persoonlijke gegevens het gaat, dat de gegevens relevant, juist en correct moeten zijn en dat ze moeten verzameld worden voor specifieke, duidelijke en wettelijke doeleinden. De persoon over wiens persoonlijke gegevens het gaat, moet er toegang toe hebben en heeft het recht de informatie die hem/haar betreft te wijzigen.</p>
                <p>De [Company Name] site maakt gebruikt van &quot;cookies&quot; die door onze browser opgeslagen worden op de harde schijf van uw computer. Zij maken het ons mogelijk u een nog betere service aan te bieden door ons bijvoorbeeld informatie te geven over de taalkeuze die u maakte. Onze cookies bevatten geen persoonlijke informatie. De meeste browsers aanvaarden cookies, maar u kan de uwe zodanig instellen dat hij dat niet doet. Dit zal u niet beletten de [Company Name]-site te raadplegen.</p>
                <p>[Company Name] biedt de mogelijkheid om op elk gewenst ogenblik uw persoonlijke gegevens te wijzigen via uw persoonlijk profiel in het &quot;user menu&quot;.</p>
                <p>Door gebruik te maken van de [Company Name] site gaat u akkoord met het privacy beleid en tevens met het verzamelen en gebruiken van uw gegevens zoals beschreven in dit beleid.</p>
            </div>

        </div><!-- /.grid__row -->
    </div><!-- /.grid__container -->
</div>
