<header class="sticky-header">
    <a href="#" class="sticky-header__close"><svg class="svg-icon svg-icon--cross"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--cross"></use></svg></a>
    <div class="grid__container">
        <div class="grid__row">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis rerum fugiat iste dolores quos quaerat maxime ipsum quis tempora, saepe eos laborum, molestias quibusdam facilis, sed assumenda alias perspiciatis quasi.</p>
        </div><!-- /.grid__row -->
    </div><!-- /.grid__container -->
</header>