/* box */
.box {
}

.box--padded {
    padding: 1em;
}

.box--preview {
    background-color: #fff;
    margin-bottom: 1em;
    padding: 1em 3rem;
    border: 1px solid #eeeeee;
}

.box--left-bordered {
    border-left: 2px solid #205493;
    padding-left: 1rem;
}