/* SITE GRID */

// Variables
$layout-responsive: true;

/* Screen adaptive config */
$breakpoint-medium: 979px;
$breakpoint-small:  480px;
$breakpoint-mini:   379px;

$screen-sizes: (
    large: (
        grid: (
            screen-min-width:               $breakpoint-medium + 1,
            total-columns:                  12,
            column-width:                   70px, // When you set this container-max-width will be calculated for you
            gutter-width:                   30px,
            side-padding:                   30px,
            subgrids: (
                4: (1, 2),
                5: (3, 4)
            )
        )
    ),
    medium: (
        grid: (
            screen-min-width:               $breakpoint-small + 1,
            screen-max-width:               $breakpoint-medium,
            total-columns:                  12,
            gutter-width:                   20px,
            side-padding:                   20px,
            subgrids: (
                4: (1, 2, 3)
            )
        )
    ),
    small: (
        grid: (
            screen-min-width:               $breakpoint-mini + 1,
            screen-max-width:               $breakpoint-small,
            total-columns:                  3,
            gutter-width:                   20px,
            side-padding:                   10px,
            subgrids: (
                2: (1)
            )
        )
    ),
    mini: (
        grid: (
            screen-max-width:               $breakpoint-mini,
            total-columns:                  2,
            gutter-width:                   15px,
            side-padding:                   15px
        )
    )
);


// Functions and mixins
@import 'functions/*';
@import 'mixins/*';

// Helper classes
@import 'helpers/clearfix.scss';

@import 'grid/functions/*';
@import 'grid/mixins/*';

@import 'grid/grid--main/grid__container.scss';
@import 'grid/grid--main/grid__row.scss';
@import 'grid/grid--main/grid__col.scss';
