<div class="banner"><img src="//placehold.it/300x250/eeeeee/000000?text=Medium+Rectangle:+300x250" alt="Placeholder"/></div>
Medium Rectangle: 300x250
<br>
<br>

<div class="banner"><img src="//placehold.it/728x90/eeeeee/000000?text=Leaderboard:+728x90" alt="Placeholder"/></div>
Leaderboard: 728x90
<br>
<br>

<div class="banner"><img src="//placehold.it/160x600/eeeeee/000000?text=Wide+Skyscraper:+160x600" alt="Placeholder"/></div>
Wide Skyscraper: 160x600
<br>
<br>

<div class="banner"><img src="//placehold.it/468x60/eeeeee/000000?text=Banner:+468x60" alt="Placeholder"/></div>
Banner: 468x60
<br>
<br>

<div class="banner"><img src="//placehold.it/120x600/eeeeee/000000?text=Skyscraper:+120x600" alt="Placeholder"/></div>
Skyscraper: 120x600
<br>
<br>

<div class="banner"><img src="//placehold.it/300x100/eeeeee/000000?text=Rectangle:+300x100" alt="Placeholder"/></div>
Rectangle: 300x100
<br>
<br>

<div class="banner"><img src="//placehold.it/88x31/eeeeee/000000?text=Micro+Bar:+88x31" alt="Placeholder"/></div>
Micro Bar: 88x31
<br>
<br>

<div class="banner"><img src="//placehold.it/300x600/eeeeee/000000?text=Half-Page:+300x600" alt="Placeholder"/></div>
Half-Page: 300x600
<br>
<br>

<div class="banner"><img src="//placehold.it/336x280/eeeeee/000000?text=Large+Rectangle:+336x280" alt="Placeholder"/></div>
Large Rectangle: 336x280
<br>
<br>

<div class="banner"><img src="//placehold.it/320x50/eeeeee/000000?text=Mobile+Leaderboard:+320x50" alt="Placeholder"/></div>
Mobile Leaderboard: 320x50
<br>
<br>

<div class="banner banner--sticky-footer">
    <img src="//placehold.it/400x50/eeeeee/000000?text=Sticky-footer-banner+(400x50)" alt="Placeholder"/>
</div>
Sticky footer banner (afmetingen in hoogte zij nafhankelijk van het design)
<br>
<br>

<div class="banner">
    place
</div>
Overlay banner (afmetingen in hoogte zij nafhankelijk van het design)
<br>
<br>
