<div class="box">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ex, saepe dignissimos perferendis illum sed laborum, ipsa reprehenderit eum odit possimus amet iure maxime in quibusdam ad non, a eos!</p>
</div>