<div class="breadcrumbs">
    <ol class="breadcrumbs__content">
        <li class="breadcrumb__item"><a href="index.php">Home</a> <i class="breadcrumbs__icon">&raquo;</i> </li>
        <li class="breadcrumb__item breadcrumb__item--filler">... <i class="breadcrumbs__icon">&raquo;</i> </li>
        <li class="breadcrumb__item"><a href="#">Professional</a> <i class="breadcrumbs__icon">&raquo;</i></li>
        <li class="breadcrumb__item"><a href="#">Culinaire sauzen</a> <i class="breadcrumbs__icon">&raquo;</i></li>
        <li class="breadcrumb__item">Currysaus</li>
    </ol>
</div>