<div class="breadcrumbs">
    <ol class="breadcrumbs__content">
        <li class="breadcrumb__item"><a href="index.php">Home</a> <svg class="svg-icon svg--arrow-right breadcrumbs__icon"><use xlink:href="#svg-icon-arrow-right"></use>/svg> </li>
        <li class="breadcrumb__item -filler">... <svg class="svg-icon svg--arrow-right breadcrumbs__icon"><use xlink:href="#svg-icon-arrow-right"></use>/svg> </li>
        <li class="breadcrumb__item"><a href="#">Overzicht</a> <svg class="svg-icon svg--arrow-right breadcrumbs__icon"><use xlink:href="#svg-icon-arrow-right"></use>/svg></li>
        <li class="breadcrumb__item"><a href="#">Overzicht</a> <svg class="svg-icon svg--arrow-right breadcrumbs__icon"><use xlink:href="#svg-icon-arrow-right"></use>/svg></li>
        <li class="breadcrumb__item"><a href="#">Overzicht</a> <svg class="svg-icon svg--arrow-right breadcrumbs__icon"><use xlink:href="#svg-icon-arrow-right"></use>/svg></li>
        <li class="breadcrumb__item">Pagina</li>
    </ol>
</div>
