<div class="breadcrumbs">
    <ol class="breadcrumbs__content">
        <li class="breadcrumb__item"><a href="index.php">Home</a> <span class="icon -arrow-right"></span> </li>
        <li class="breadcrumb__item -filler">... <span class="icon -arrow-right"></span> </li>
        <li class="breadcrumb__item"><a href="#">Overzicht</a> <span class="icon -arrow-right"></span></li>
        <li class="breadcrumb__item"><a href="#">Overzicht</a> <span class="icon -arrow-right"></span></li>
        <li class="breadcrumb__item"><a href="#">Overzicht</a> <span class="icon -arrow-right"></span></li>
        <li class="breadcrumb__item">Pagina</li>
    </ol>
</div>
