<div class="breadcrumbs">
    <ol class="breadcrumbs__content">
        <li class="breadcrumb__item">
            <a href="index.php">
                <svg class="svg-icon svg-icon-house">
                    <use xlink:href="#svg-icon-house"></use>
                </svg>
            </a> <svg class="breadcrumbs__icon svg-icon svg-icon-angle-right"><use xlink:href="#svg-icon-angle-right"></use></svg>
        </li>
        <li class="breadcrumb__item breadcrumb__item -filler">... <svg class="breadcrumbs__icon svg-icon svg-icon-angle-right"><use xlink:href="#svg-icon-angle-right"></use></svg> </li>
        <li class="breadcrumb__item"><a href="#">Niveau 1</a> <svg class="breadcrumbs__icon svg-icon svg-icon-angle-right"><use xlink:href="#svg-icon-angle-right"></use></svg></li>
        <li class="breadcrumb__item"><a href="#">Niveau 2</a> <svg class="breadcrumbs__icon svg-icon svg-icon-angle-right"><use xlink:href="#svg-icon-angle-right"></use></svg></li>
        <li class="breadcrumb__item"><a href="#">Niveau 3</a> <svg class="breadcrumbs__icon svg-icon svg-icon-angle-right"><use xlink:href="#svg-icon-angle-right"></use></svg></li>
        <li class="breadcrumb__item">Huidige pagina</li>
    </ol>
</div>