<div class="cookie-box">
    <a href="#" class="cookie-box__close" data-component="CookieMessage"><span class="icon -cross"></span></a>
    <span class="cookie-box__text">Deze website gebruikt cookies om uw surfervaring op deze website gemakkelijker te maken. <a href="#" class="-cookie" target="_blank">Meer weten</a></span>
</div>
<div class="cookie-box -bottom">
    <a href="#" class="cookie-box__close" data-component="CookieMessage"><span class="icon -cross"></span></a>
    <span class="cookie-box__text">Deze website gebruikt cookies om uw surfervaring op deze website gemakkelijker te maken. <a href="#" class="-cookie" target="_blank">Meer weten</a></span>
</div>
