{# Downloads #}
<h3 class="title-2 h -medium-margin-bottom">Downloads</h3>
<a href="#" class="-download">Folder Lorem ipsum (2,5MB&nbsp;&nbsp;.pdf)</a><br>
<a href="#" class="-download">Folder Lorem ipsum (2,5MB&nbsp;&nbsp;.pdf)</a><br>
<a href="#" class="-download">Folder Lorem ipsum (2,5MB&nbsp;&nbsp;.pdf)</a><br>
<a href="#" class="-download">Folder Lorem ipsum (2,5MB&nbsp;&nbsp;.pdf)</a><br>
<a href="#" class="-download">Folder Lorem ipsum (2,5MB&nbsp;&nbsp;.pdf)</a><br>
