<h1 class="title-1">Facebook OG Image - nl (1200x630)</h1>
<img src="/assets/default/images/facebook-nl.jpg" alt="facebook og image" />
<br>

<code>&lt;meta property=&quot;og:image&quot; content=&quot;/assets/default/images/facebook-nl.jpg&quot; /&gt;</code>
<br>
<br>

<h1 class="title-1">Facebook OG Image - fr (1200x630)</h1>
<img src="/assets/default/images/facebook-fr.jpg" alt="facebook og image" />
<br>

<code>&lt;meta property=&quot;og:image&quot; content=&quot;/assets/default/images/facebook-fr.jpg&quot; /&gt;</code>
<br>
<br>

<h1 class="title-1">Facebook OG Image - en (1200x630)</h1>
<img src="/assets/default/images/facebook-en.jpg" alt="facebook og image" />
<br>

<code>&lt;meta property=&quot;og:image&quot; content=&quot;/assets/default/images/facebook-en.jpg&quot; /&gt;</code>
<br>
<br>


<h2 class="title-2">Optimize images to generate great previews in facebook - 2015 rules</h2>
<h3 class="title-3">Image Sizes</h3>
<p>Use images that are at least <strong>1200 x 630</strong> pixels for the best display on high resolution devices. At the minimum, you should use images that are <strong>600 x 315 pixels</strong> to display link page posts with larger images.</p>
<img src="/assets/default/images/large-og.png" alt="large-og" />
<br>
<br>

<h3 class="title-3">Small Images</h3>
<p>If your image is smaller than <strong>600 x 315 px</strong>, it will still display in the link page post, but the size will be much smaller.</p>
<img src="/assets/default/images/small-og.png" alt="small-og" />