<div class="h -equal-height">
    <div class="h -flex">
        <img src="assets/default/images/icons/windows-tile-144x144.png" alt="Favicon" /><br>
        <p class="text -default">windows-tile-144x144.png</p>
    </div>
    <div class="h -flex">
        <img src="assets/default/images/icons/favicon.png" alt="Favicon" /><br>
        <p class="text -default">.png: (32x32)</p>
    </div>
    <div class="h -flex">
        <img src="assets/default/images/icons/apple-touch-icon.png" alt="Favicon" /><br>
        <p class="text -default">apple-touch-icon.png (57x57)</p>
    </div>
    <div class="h -flex">
        <img src="assets/default/images/icons/favicon.ico" alt="Favicon" /><br>
        <p class="text -default">.ico: (16x16)</p>
    </div>
</div>
