<div class="filter__entry">
    <input type="radio" name="radio" id="fltr_radio" class="filter__field filter__field--radio">
    <label class="filter__label filter__label--radio" for="fltr_radio">Filter radio</label>
</div>