<? $label="Filter number field"; ?>
<div class="filter__entry">
    <input type="number" name="filter_field" id="fltr_filter_field" placeholder="Filter number field" required class="filter__field filter__field--number" />
</div>