<div class="filter__pannel" data-component="Application/Components/FilterPannel">

    <div class="filter__pannel-title">Filter pannel title</div>
    <div class="filter__pannel-content">
        <div class="filter__pannel-inner">

            <fieldset class="filter__fieldset">

                <div class="filter__entry">Fltr_pannel-example-1</div>
                <div class="filter__entry">Fltr_pannel-example-2</div>
                <div class="filter__entry">Fltr_pannel-example-3</div>
                <div class="filter__entry">Fltr_pannel-example-4</div>
                <div class="filter__entry">Fltr_pannel-example-5</div>
                <div class="filter__entry">Fltr_pannel-example-6</div>
                <div class="filter__entry">Fltr_pannel-example-7</div>
                <div class="filter__entry">Fltr_pannel-example-8</div>
                <div class="filter__entry">Fltr_pannel-example-9</div>
                <div class="filter__entry">Fltr_pannel-example-10</div>

                <div class="filter__has-more" data-component="Application/Components/FilterHasMore">
                    <div class="filter__has-more__items">
                        <div class="filter__has-more__inner">
                            <div class="filter__entry">Fltr_pannel-example-11</div>
                            <div class="filter__entry">Fltr_pannel-example-12</div>
                            <div class="filter__entry">Fltr_pannel-example-13</div>
                            <div class="filter__entry">Fltr_pannel-example-14</div>
                            <div class="filter__entry">Fltr_pannel-example-15</div>
                        </div>
                    </div>
                    <a href="#" class="filter__has-more__trigger">
                        <span class="filter__has-more__toggle filter__has-more__toggle--more">Meer</span>
                        <span class="filter__has-more__toggle filter__has-more__toggle--less">Minder</span>
                        <span class="filter__has-more__icon"></span>
                    </a>
                </div>

            </fieldset>

            <a href="#" class="button button--full-width filter__pannel-button">Toon x-aantal resultaten</a>
        </div>
    </div>

</div>