Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, deleniti, placeat. Nam laboriosam assumenda eos nihil praesentium hic animi provident possimus dolor est iure magni magnam, voluptatibus dolore et fugit.
<div class="flash-container">
    <div class="flash-message -warning">
        <p><b>Warning alert:</b> This is a warning</p>
        <a href="#" class="flash-message__close icon -cross" data-component="Application/Components/FlashMessages"></a>
    </div>

    <div class="flash-message -info">
        <p><b>Info alert:</b> This is an info message</p>
        <a href="#" class="flash-message__close icon -cross" data-component="Application/Components/FlashMessages"></a>
    </div>

    <div class="flash-message -error">
        <p><b>Error alert:</b> This is an error message</p>
        <a href="#" class="flash-message__close icon -cross" data-component="Application/Components/FlashMessages"></a>
    </div>

    <div class="flash-message -success">
        <p><b>Success alert:</b> This is a success message</p>
        <a href="#" class="flash-message__close icon -cross" data-component="Application/Components/FlashMessages"></a>
    </div>
</div>
