<div class="flash-container">
    <div class="flash-message flash-message--warning">
        <p><b>Warning alert:</b> This is a warning</p>
    </div>

    <div class="flash-message flash-message--info">
        <p><b>Info alert:</b> This is an info message</p>
    </div>

    <div class="flash-message flash-message--error">
        <p><b>Error alert:</b> This is an error message</p>
    </div>

    <div class="flash-message flash-message--success">
        <p><b>Success alert:</b> This is a success message</p>
    </div>
</div>