<div class="form__entry">
    <input type="radio" name="radio" id="frm_radio" class="form__field form__field--radio">
    <label class="form__label form__label--radio" for="frm_radio">form radio</label>
</div>