<div class="icons--example">
    <span class="icon icon--arrow-down"></span>     <code>.icon.icon--arrow-down</code>     <code>&amp;#xe603;</code><br>
    <span class="icon icon--arrow-left"></span>     <code>.icon.icon--arrow-left</code>     <code>&amp;#xe60f;</code><br>
    <span class="icon icon--arrow-right"></span>    <code>.icon.icon--arrow-right</code>    <code>&amp;#xe616;</code><br>
    <span class="icon icon--arrow-up"></span>       <code>.icon.icon--arrow-up</code>       <code>&amp;#xe610;</code><br>
    <span class="icon icon--arrow"></span>          <code>.icon.icon--arrow</code>          <code>&amp;#xe615;</code><br>
    <span class="icon icon--calendar"></span>       <code>.icon.icon--calendar</code>       <code>&amp;#xe601;</code><br>
    <span class="icon icon--check"></span>          <code>.icon.icon--check</code>          <code>&amp;#xe604;</code><br>
    <span class="icon icon--cross"></span>          <code>.icon.icon--cross</code>          <code>&amp;#xe605;</code><br>
    <span class="icon icon--download"></span>       <code>.icon.icon--download</code>       <code>&amp;#xe607;</code><br>
    <span class="icon icon--external"></span>       <code>.icon.icon--external</code>       <code>&amp;#xe602;</code><br>
    <span class="icon icon--file"></span>           <code>.icon.icon--file</code>           <code>&amp;#xe600;</code><br>
    <span class="icon icon--info"></span>           <code>.icon.icon--info</code>           <code>&amp;#xe60b;</code><br>
    <span class="icon icon--larr"></span>           <code>.icon.icon--larr</code>           <code>&amp;#xe609;</code><br>
    <span class="icon icon--magnifier"></span>      <code>.icon.icon--magnifier</code>      <code>&amp;#xe606;</code><br>
    <span class="icon icon--mail"></span>           <code>.icon.icon--mail</code>           <code>&amp;#xe60c;</code><br>
    <span class="icon icon--menu"></span>           <code>.icon.icon--menu</code>           <code>&amp;#xe611;</code><br>
    <span class="icon icon--pin"></span>            <code>.icon.icon--pin</code>            <code>&amp;#xe60d;</code><br>
    <span class="icon icon--rarr"></span>           <code>.icon.icon--rarr</code>           <code>&amp;#xe60a;</code><br>
    <span class="icon icon--tel"></span>            <code>.icon.icon--tel</code>            <code>&amp;#xe612;</code><br>
    <span class="icon icon--warning"></span>        <code>.icon.icon--warning</code>        <code>&amp;#xe608;</code><br>
</div>

<div class="icons">
{# arrow-down.svg
arrow-left.svg
arrow-right.svg
arrow-up.svg
calendar.svg
checkmark.svg
clippy.svg
cross.svg
darr.svg
download.svg
email.svg
external-link.svg
file.svg
hamburger.svg
info.svg
larr.svg
magnifier--zoom.svg
magnifier.svg
pin.svg
print.svg
rarr.svg
telephone.svg
uarr.svg
warning.svg #}
</div>