<div class="item">
    <h2 class="item__title">Mattis</h2>
    <div class="item__content">
        <a href="#" class="img-link" title="Read more about Pellentesque dolor venenatis">
            <img src="//placehold.it/460x300/" alt="PLACEHOLDER" />
        </a>
        <div class="item__description">
            <p>Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
        </div>
        <a class="link--more" href="#">Continue reading</a>
    </div>
</div>