<body class="h-sticky-footer__body">
    <div class="h-sticky-footer__main">
        {% include 'partials/masthead.html.twig' %}

        {% block content %}<p>page content goes here</p>{% endblock %}

    </div>

    {% include 'partials/footer.html.twig' %}
</body>