<div class="row" data-component="Lightbox" >
    <img src="http://placeholder.inventis.be/200x150/eeeeee/000000/?text=200x150" alt="" data-jslghtbx="http://placeholder.inventis.be/800x600/eeeeee/000000/?text=1" data-jslghtbx-group="mygroup1">
    <img src="http://placeholder.inventis.be/200x150/eeeeee/000000/?text=200x150" alt="" data-jslghtbx="http://placeholder.inventis.be/800x600/eeeeee/000000/?text=2" data-jslghtbx-group="mygroup1">
    <img src="http://placeholder.inventis.be/200x150/eeeeee/000000/?text=200x150" alt="" data-jslghtbx="http://placeholder.inventis.be/800x600/eeeeee/000000/?text=3" data-jslghtbx-group="mygroup1">
    <img src="http://placeholder.inventis.be/200x150/eeeeee/000000/?text=200x150" alt="" data-jslghtbx="http://placeholder.inventis.be/800x600/eeeeee/000000/?text=4" data-jslghtbx-group="mygroup1">
</div><!-- /.row -->
