<ul>
    <li>lorem</li>
    <li>ipsum</li>
    <li>dolor</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus in, atque illo enim voluptatem deserunt impedit! Quod consequuntur, veniam, ut minima omnis recusandae illo repellat asperiores officiis ipsam velit tenetur.</li>
</ul>

<ul>
    <li><a href="#">lorem</a></li>
    <li><a href="#">ipsum</a></li>
    <li><a href="#">dolor</a></li>
</ul>

<ol>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
    <li>ipsum</li>
    <li>dolor</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus in, atque illo enim voluptatem deserunt impedit! Quod consequuntur, veniam, ut minima omnis recusandae illo repellat asperiores officiis ipsam velit tenetur.</li>
</ol>