<!-- Masthead -->
<header class="masthead">

    <div class="grid__row">
        <div class="grid__container">

            <!-- Main nav -->
            <?=partial('nav/nav-main');?>

            <!-- Fast contact -->
            <?=partial('fast-contact');?>

            <!-- Menu Button -->
            <a class="menu-button button" href="#"><i class="icon icon--menu"></i> Menu</a>

            <!-- Logo -->
            <div class="logo">
                <a href="index.php">
                    <img src="//placehold.it/200x85/0e7fd2/ffffff/&text=Logo" width="200" height="85" alt="LIM-ELEC Logo" />
                </a>
            </div>

        </div>
    </div>

</header>