<div class="icons">
    <svg class="svg-icon svg-arrow-down"><use xlink:href="#svg-icon-arrow-down"></use></svg>
    <svg class="svg-icon svg-arrow-left"><use xlink:href="#svg-icon-arrow-left"></use></svg>
    <svg class="svg-icon svg-arrow-right"><use xlink:href="#svg-icon-arrow-right"></use></svg>
    <svg class="svg-icon svg-arrow-up"><use xlink:href="#svg-icon-arrow-up"></use></svg>
    <svg class="svg-icon svg-calendar"><use xlink:href="#svg-icon-calendar"></use></svg>
    <svg class="svg-icon svg-checkmark"><use xlink:href="#svg-icon-checkmark"></use></svg>
    <svg class="svg-icon svg-clippy"><use xlink:href="#svg-icon-clippy"></use></svg>
    <svg class="svg-icon svg-clock"><use xlink:href="#svg-icon-clock"></use></svg>
    <svg class="svg-icon svg-cross"><use xlink:href="#svg-icon-cross"></use></svg>
    <svg class="svg-icon svg-darr"><use xlink:href="#svg-icon-darr"></use></svg>
    <svg class="svg-icon svg-double-arrow-left"><use xlink:href="#svg-icon-double-arrow-left"></use></svg>
    <svg class="svg-icon svg-double-arrow-right"><use xlink:href="#svg-icon-double-arrow-right"></use></svg>
    <svg class="svg-icon svg-download"><use xlink:href="#svg-icon-download"></use></svg>
    <svg class="svg-icon svg-email"><use xlink:href="#svg-icon-email"></use></svg>
    <svg class="svg-icon svg-external-link"><use xlink:href="#svg-icon-external-link"></use></svg>
    <svg class="svg-icon svg-facebook"><use xlink:href="#svg-icon-facebook"></use></svg>
    <svg class="svg-icon svg-file"><use xlink:href="#svg-icon-file"></use></svg>
    <svg class="svg-icon svg-hamburger"><use xlink:href="#svg-icon-hamburger"></use></svg>
    <svg class="svg-icon svg-house"><use xlink:href="#svg-icon-house"></use></svg>
    <svg class="svg-icon svg-info"><use xlink:href="#svg-icon-info"></use></svg>
    <svg class="svg-icon svg-larr"><use xlink:href="#svg-icon-larr"></use></svg>
    <svg class="svg-icon svg-linkedin"><use xlink:href="#svg-icon-linkedin"></use></svg>
    <svg class="svg-icon svg-magnifier--zoom"><use xlink:href="#svg-icon-magnifier--zoom"></use></svg>
    <svg class="svg-icon svg-magnifier"><use xlink:href="#svg-icon-magnifier"></use></svg>
    <svg class="svg-icon svg-mail"><use xlink:href="#svg-icon-mail"></use></svg>
    <svg class="svg-icon svg-pin"><use xlink:href="#svg-icon-pin"></use></svg>
    <svg class="svg-icon svg-print"><use xlink:href="#svg-icon-print"></use></svg>
    <svg class="svg-icon svg-rarr"><use xlink:href="#svg-icon-rarr"></use></svg>
    <svg class="svg-icon svg-stamp"><use xlink:href="#svg-icon-stamp"></use></svg>
    <svg class="svg-icon svg-telephone"><use xlink:href="#svg-icon-telephone"></use></svg>
    <svg class="svg-icon svg-twitter"><use xlink:href="#svg-icon-twitter"></use></svg>
    <svg class="svg-icon svg-uarr"><use xlink:href="#svg-icon-uarr"></use></svg>
    <svg class="svg-icon svg-warning"><use xlink:href="#svg-icon-warning"></use></svg>
</div>
