<table class="table">
    <thead>
        <tr>
            <th>table head</th>
            <th>table head</th>
            <th>table head</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>tbody</td>
            <td>tbody</td>
            <td>tbody</td>
        </tr>
        <tr>
            <td>tbody</td>
            <td>tbody</td>
            <td>tbody</td>
        </tr>
        <tr>
            <td>tbody</td>
            <td>tbody</td>
            <td>tbody</td>
        </tr>
    </tbody>
</table>