<div class="grid__container">

    <div class="title-1 title--style-bordered">Lato:</div>
    <div class="grid__row">
        <div class="grid--v-large__cols--6">
            <p>Lorem <a href="#">ipsum dolor sit amet</a>, consectetur adipisicing elit. Veniam <strong>tempora ex nesciunt</strong> quaerat omnis sed nulla vero officiis non ullam inventore a, <em>ab possimus aut deserunt at</em>, fuga dolore quasi.</p>
            <p>Totam, consequatur, enim quisquam distinctio ut beatae, quis provident dicta vitae ducimus saepe. Vero totam commodi quibusdam saepe, fugit nesciunt maiores optio.</p>
            <p>Deleniti itaque iste animi dicta provident possimus obcaecati, eaque. Quia quo doloribus, consequuntur deleniti facilis corporis similique minus expedita. Omnis, est, sit.</p>
        </div>
        <div class="grid--v-large__cols--6">
            <div class="text--huge">Aa</div>
            <p>
                A B C D E F G H I J K L M N O P Q R S T U V W X Y Z <br>
                a b c d e f g h i j k l m n o p q r s t u v w x y z <br>
                0 1 2 3 4 5 6 7 8 9
            </p>
        </div>
    </div><!-- /.grid__row -->

    <br>
    <br>

    <div class="title-1 title--style-bordered">Helvetica Neue LT Std:</div>
    <div class="grid__row">
        <div class="grid--v-large__cols--6">
            <p class="text--alt-font">Lorem <a href="#">ipsum dolor sit amet</a>, consectetur adipisicing elit. Veniam <strong>tempora ex nesciunt</strong> quaerat omnis sed nulla vero officiis non ullam inventore a, <em>ab possimus aut deserunt at</em>, fuga dolore quasi.</p>
            <p class="text--alt-font">Totam, consequatur, enim quisquam distinctio ut beatae, quis provident dicta vitae ducimus saepe. Vero totam commodi quibusdam saepe, fugit nesciunt maiores optio.</p>
            <p class="text--alt-font">Deleniti itaque iste animi dicta provident possimus obcaecati, eaque. Quia quo doloribus, consequuntur deleniti facilis corporis similique minus expedita. Omnis, est, sit.</p>
        </div>
        <div class="grid--v-large__cols--6">
            <div class="text--huge text--alt-font">Aa</div>
            <p class="text--alt-font">
                A B C D E F G H I J K L M N O P Q R S T U V W X Y Z <br>
                a b c d e f g h i j k l m n o p q r s t u v w x y z <br>
                0 1 2 3 4 5 6 7 8 9
            </p>
        </div>
    </div><!-- /.grid__row -->

</div><!-- /.grid__container -->