/* Grid Col */
// @import '../../grid.scss';

[class*="__col--"],
[class*="__cols--"]{
    box-sizing: border-box;
    position: relative;
    display: block;
    float: left;
    width: 100%;

    &.-omega {
        margin-right: 0 !important;
    }
}

@each $screen-size, $screen-size-config in $screen-sizes {
    $grid-config: getGridConfig($screen-size);
    @include screen-size($screen-size) {

        /* Generate col & cols */
        $nrOfCols: map-get($grid-config, total-columns);
        @include generateCols(1, $nrOfCols, $screen-size);
        // generateCols($start, $end, $screen-size, $subgrid: false, $modifier: '')

        /* Subgrids */
        @if map-has-key($grid-config, subgrids) {
            $total-columns: map-get($grid-config, total-columns);

            @each $total-columns, $columnsList in map-get($grid-config, subgrids) {
                @each $columns in $columnsList {
                    @include generateCols($columns,$total-columns,$screen-size,true);
                }
            }
        }

        /* Omega class */
        .-v-#{$screen-size}-omega {
            margin-right: 0 !important;
        }
    }
}