@font-face {
    font-family: "project-icons";
    src: url('../fonts/project-icons/project-icons.eot');
    src: url('../fonts/project-icons/project-icons.eot?#iefix') format('eot'),
        url('../fonts/project-icons/project-icons.woff2') format('woff2'),
        url('../fonts/project-icons/project-icons.woff') format('woff'),
        url('../fonts/project-icons/project-icons.ttf') format('truetype'),
        url('../fonts/project-icons/project-icons.svg#project-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

$icons: (
    "arrow-down": "\E001",
    "arrow-left": "\E002",
    "arrow-right": "\E003",
    "arrow-up": "\E004",
    "calendar": "\E005",
    "checkmark": "\E006",
    "clippy": "\E007",
    "clock": "\E008",
    "cross": "\E009",
    "darr": "\E00A",
    "double-arrow-left": "\E00B",
    "double-arrow-right": "\E00C",
    "download": "\E00D",
    "email": "\E00E",
    "external-link": "\E00F",
    "facebook": "\E010",
    "file": "\E011",
    "hamburger": "\E012",
    "house": "\E013",
    "info": "\E014",
    "larr": "\E015",
    "linkedin": "\E016",
    "lock-bad": "\E017",
    "lock-good": "\E018",
    "lock": "\E019",
    "magnifier--zoom": "\E01A",
    "magnifier": "\E01B",
    "mail": "\E01C",
    "pin": "\E01D",
    "print": "\E01E",
    "rarr": "\E01F",
    "stamp": "\E020",
    "telephone": "\E021",
    "twitter": "\E022",
    "uarr": "\E023",
    "warning": "\E024",

);

.icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    font-family: "project-icons", $default-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    line-height: 1;

    @each $icon, $content in $icons {
        &.-#{$icon} {
            &:before {
                content: $content;
            }
        }
        &.icon-content-#{$icon} {
            content: $content;
        }
    }
}