/* Variables */
$selection-colors-backgroundcolor: $default-selection-bgcolor;
$selection-colors-color: $default-selection-color;

/* Selection colors */
::-moz-selection {
    background-color: $selection-colors-backgroundcolor;
    color: $selection-colors-color;
    text-shadow: none;
}

::selection {
    background-color: $selection-colors-backgroundcolor;
    color: $selection-colors-color;
    text-shadow: none;
}