/* FILTER__HAS-MORE */
.filter__has-more {

}

.filter__has-more__items {
    transition: max-height .18s cubic-bezier(1,0.3,0,0.7);
    max-height: 0px;
    overflow: hidden;
}

.filter__has-more__items.-visible {
    transition: max-height .35s cubic-bezier(0.7,0,0.3,1);
    max-height: 999px; // fallback. The real max-height will be set with FilterHasMore.js component
}

.filter__has-more__trigger {
    text-decoration: none;
    font-size: 14px;
    &:hover, &:focus {
        .filter__has-more__toggle {
            text-decoration: underline;
        }
    }
}

.filter__has-more__icon {
    &:before {
        padding-left: 5px;
        font-size: 4px;
        line-height: 1;
        color: get-color("black");
        position: relative;
        top: -3px;
    }
}

.filter__has-more__trigger {
    .filter__has-more__toggle.-less { display: none; }
    .filter__has-more__toggle.-more { display: inline-block; }
    .filter__has-more__icon {
        &:before {
            @extend .icon;
            @extend .icon-content-arrow-down !optional;
        }
    }
}

.filter__has-more__trigger.-open {
    .filter__has-more__toggle.-less { display: inline-block; }
    .filter__has-more__toggle.-more { display: none; }
    .filter__has-more__icon {
        &:before {
            @extend .icon;
            @extend .icon-content-arrow-up !optional;
        }
    }
}
