/* FILTER__TAG */
.filter__tag {
    display: inline-block;
    padding: 5px 8px;

    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    text-decoration: none;
    color: get-color("white");

    background: transparent;

    &:after {
        @extend .icon;
        @extend .icon-content-cross;
        font-size: 8px;
        display: inline-block;
        padding-left: 6px;
    }

    &:hover, &:focus {
        background: get-color("blue");
    }
}
