/* FILTER__MAIN-TITLE */
.filter__main-title {
    display: block;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    border-left: 1px solid #e4e5e7;
    border-right: 1px solid #e4e5e7;
}