<section>
    <div class="form__entry">
        <input type="password" name="form_field" id="frm_form_field" placeholder="form password field" required class="form__field -password" />
    </div>
</section>
