<section>
    <div class="form__entry">
        <input type="text" name="form_field" id="frm_form_field" placeholder="form date field" required class="form__field -date"  data-component="inputDate" />
    </div>
</section>
