<section>
    <div class="form__entry">
        <input type="checkbox" name="checkbox" id="frm_checkbox" class="form__checkbox">
        <label class="form__label -checkbox" for="frm_checkbox">form checkbox</label>
    </div>
</section>
