<section>
    <fieldset class="form__fieldset">
        <legend class="form__legend">Legende</legend>

        <div class="form__entry">
            <input type="radio" name="radiogroup" id="frm_radio-1" class="form__-radio">
            <label class="form__label -radio" for="frm_radio-1">form radio</label>
        </div>
        <div class="form__entry">
            <input type="radio" name="radiogroup" id="frm_radio-2" class="form__-radio">
            <label class="form__label -radio" for="frm_radio-2">form radio</label>
        </div>
        <div class="form__entry">
            <input type="radio" name="radiogroup" id="frm_radio-3" class="form__-radio">
            <label class="form__label -radio" for="frm_radio-3">form radio</label>
        </div>
        <div class="form__entry">
            <input type="radio" name="radiogroup" id="frm_radio-4" class="form__-radio">
            <label class="form__label -radio" for="frm_radio-4">form radio</label>
        </div>
    </fieldset>
</section>
