<section>
    <div class="form__entry">
        <input type="search" name="form_field" id="frm_form_field" placeholder="form search field" required class="form__field -search" />
    </div>
</section>
