<fieldset class="form__fieldset">
    <legend class="form__legend">formen op categorie</legend>

    <div class="form__entry">
        <input type="checkbox" name="checkboxgroup" id="frm_checkbox-1" class="form__field form__field--checkbox">
        <label class="form__label form__label--checkbox" for="frm_checkbox-1">form checkbox</label>
    </div>
    <div class="form__entry">
        <input type="checkbox" name="checkboxgroup" id="frm_checkbox-2" class="form__field form__field--checkbox">
        <label class="form__label form__label--checkbox" for="frm_checkbox-2">form checkbox</label>
    </div>
    <div class="form__entry">
        <input type="checkbox" name="checkboxgroup" id="frm_checkbox-3" class="form__field form__field--checkbox">
        <label class="form__label form__label--checkbox" for="frm_checkbox-3">form checkbox</label>
    </div>
    <div class="form__entry">
        <input type="checkbox" name="checkboxgroup" id="frm_checkbox-4" class="form__field form__field--checkbox">
        <label class="form__label form__label--checkbox" for="frm_checkbox-4">form checkbox</label>
    </div>
</fieldset>